<!--header.ejs start-->
<% include parts/header.ejs %>
<!--header.ejs end-->

<body class="black-theme">

<!--header_view.ejs start-->
<% include parts/header_view.ejs %>
<!--header_view.ejs end-->


<!--home-lay layout-content start-->
<section class="article-lay layout-content box-container">
    <div class="container-article">
        <div class="row">
            <main class="lay-main col-xs-12 col-sm-12 col-md-12">
                <div class="article-view">
                    <div class="article-title">
                        <h1><%= data.article.title %></h1>
                        <div class="article-time">
                            <span class="u-time"><%= data.article.create_date %></span>
                            <span class="u-view"><i class="icon icon-eye"></i> 1,111</span>
                            <span class="u-comment"><i class="icon icon-bubble"></i> 4</span>
                        </div>
                    </div>
                    <article class="article-content box-article-view">
                        <h1><%- data.article.content %></h1>
                    </article>
                </div>
            </main>
        </div>
    </div>
</section>
<!--home-lay layout-content end-->


<!--footer_view.ejs start-->
<% include parts/footer_view.ejs %>
<!--footer_view.ejs end-->

<!--<script>

  var navbar = document.getElementById('layout-navbar')

  function getScrollTop () {
    var scrollTop = 0;
    if (document.documentElement && document.documentElement.scrollTop) {
      scrollTop = document.documentElement.scrollTop;
    }
    else if (document.body) {
      scrollTop = document.body.scrollTop;
    }
    return scrollTop;
  }

  window.onscroll = function () {
    var st = getScrollTop()
    if (st > 50) {
      navbar.classList.add("navbar-fixed-top");
    } else {
      navbar.classList.remove("navbar-fixed-top");
    }
  }

</script>-->
</body>

<% include parts/footer.ejs %>