<!--header.ejs start-->
<% include parts/header.ejs %>
<!--header.ejs end-->

<body class="black-theme">

<!--header_view.ejs start-->
<% include parts/header_view.ejs %>
<!--header_view.ejs end-->


<!--article-list-lay layout-content start-->
<section class="article-list-lay layout-content">
    <div class="container">
        <div class="row">

            <div class="col-xs-12 col-sm-4 col-md-4">
                <div class="aside">
                    <ul class="menu">
                        <li><a href="">文章</a></li>
                        <li><a href="">用户</a></li>
                    </ul>
                </div>
            </div>
            <div class="col-xs-12 col-sm-8 col-md-8">
                <div class="article-list">
                    <div class="main-top">
                        <a class="avatar-collection" href="/c/e048f1a72e3d">
                            <img src="//upload.jianshu.io/collections/images/309213/144*144.png?imageMogr2/auto-orient/strip|imageView2/1/w/240/h/240"
                                 alt="240">
                        </a>
                        <div class="title">
                            <a class="name" href="/c/e048f1a72e3d">简书大学堂精选好课</a>
                        </div>
                        <div class="info">
                            收录了94篇文章 · 16259人关注
                        </div>
                    </div>
                    <ul class="trigger-menu">
                        <li class=""><a href="/"><i class="iconfont ic-latestcomments"></i> 最新评论</a></li>
                        <li class="active"><a href="/"><i class="iconfont ic-articles"></i> 最新收录</a></li>
                        <li class=""><a href="/"><i class="iconfont ic-hot"></i> 热门</a></li>
                    </ul>
                    <div class="list-container">
                        <ul>
                            <li>
                                <article class="content-box article-list">
                                    <div class="info-box">
                                        <div class="info-row title-row">
                                            <a href="/article" class="title">手摸手，带你用vue撸后台 系列三(实战篇)</a>
                                        </div>
                                       <div class="content-text">
                                           想想看，你的生活中有没有这样的时候： 明明没有干什么却总是觉得没时间
                                           ，倒在床上冥思苦想一天的收获，
                                           除了身体的疲惫和精神的萧条，似乎什么也没剩下。更多时候，你除了倒在床上，自己..
                                       </div>
                                        <div class="info-row meta-row">
                                            <ul class="meta-list">
                                                <li class="item category">
                                                    <span class="category-title frontend">前端</span>
                                                </li>
                                                <li class="item username clickable">
                                                    <div class="user-popover-box">
                                                        <a href="">花裤衩</a>
                                                    </div>
                                                </li>
                                                <li class="item">10月前</li>
                                                <li class="item">25781 次阅读</li>
                                            </ul>
                                        </div>
                                    </div>
                                    <div class="lazy thumb thumb loaded"
                                         style="background-image: url('/default/img/2017100416064445-e1512811758795.jpeg'); background-size: cover;">
                                    </div>
                                </article>
                            </li>
                            <li>
                                <article class="article-list content-box">
                                    <div class="info-box">
                                        <div class="info-row title-row">
                                            <a href="/article" class="title">手摸手，带你用vue撸后台 系列三(实战篇)</a>
                                        </div>
                                        <div class="content-text">
                                            想想看，你的生活中有没有这样的时候： 明明没有干什么却总是觉得没时间
                                            ，倒在床上冥思苦想一天的收获，
                                            除了身体的疲惫和精神的萧条，似乎什么也没剩下。更多时候，你除了倒在床上，自己..
                                        </div>
                                        <div class="info-row meta-row">
                                            <ul class="meta-list">
                                                <li class="item category">
                                                    <span class="category-title frontend">前端</span>
                                                </li>
                                                <li class="item username clickable">
                                                    <div class="user-popover-box">
                                                        <a href="">花裤衩</a>
                                                    </div>
                                                </li>
                                                <li class="item">10月前</li>
                                                <li class="item">25781 次阅读</li>
                                            </ul>
                                        </div>
                                    </div>
                                    <div class="lazy thumb thumb loaded"
                                         style="background-image: url('/default/img/2017100416064445-e1512811758795.jpeg'); background-size: cover;">
                                    </div>
                                </article>
                            </li>
                            <li>
                                <article class="article-list content-box">
                                    <div class="info-box">
                                        <div class="info-row title-row">
                                            <a href="/article" class="title">手摸手，带你用vue撸后台 系列三(实战篇)</a>
                                        </div>
                                        <div class="content-text">
                                            想想看，你的生活中有没有这样的时候： 明明没有干什么却总是觉得没时间
                                            ，倒在床上冥思苦想一天的收获，
                                            除了身体的疲惫和精神的萧条，似乎什么也没剩下。更多时候，你除了倒在床上，自己..
                                        </div>
                                        <div class="info-row meta-row">
                                            <ul class="meta-list">
                                                <li class="item category">
                                                    <span class="category-title frontend">前端</span>
                                                </li>
                                                <li class="item username clickable">
                                                    <div class="user-popover-box">
                                                        <a href="">花裤衩</a>
                                                    </div>
                                                </li>
                                                <li class="item">10月前</li>
                                                <li class="item">25781 次阅读</li>
                                            </ul>
                                        </div>
                                    </div>
                                    <div class="lazy thumb thumb loaded"
                                         style="background-image: url('/default/img/2017100416064445-e1512811758795.jpeg'); background-size: cover;">
                                    </div>
                                </article>
                            </li>
                            <li>
                                <article class="article-list content-box">
                                    <div class="info-box">
                                        <div class="info-row title-row">
                                            <a href="/article" class="title">手摸手，带你用vue撸后台 系列三(实战篇)</a>
                                        </div>
                                        <div class="content-text">
                                            想想看，你的生活中有没有这样的时候： 明明没有干什么却总是觉得没时间
                                            ，倒在床上冥思苦想一天的收获，
                                            除了身体的疲惫和精神的萧条，似乎什么也没剩下。更多时候，你除了倒在床上，自己..
                                        </div>
                                        <div class="info-row meta-row">
                                            <ul class="meta-list">
                                                <li class="item category">
                                                    <span class="category-title frontend">前端</span>
                                                </li>
                                                <li class="item username clickable">
                                                    <div class="user-popover-box">
                                                        <a href="">花裤衩</a>
                                                    </div>
                                                </li>
                                                <li class="item">10月前</li>
                                                <li class="item">25781 次阅读</li>
                                            </ul>
                                        </div>
                                    </div>
                                    <div class="lazy thumb thumb loaded"
                                         style="background-image: url('/default/img/2017100416064445-e1512811758795.jpeg'); background-size: cover;">
                                    </div>
                                </article>
                            </li>
                            <li>
                                <article class="article-list content-box">
                                    <div class="info-box">
                                        <div class="info-row title-row">
                                            <a href="/article" class="title">手摸手，带你用vue撸后台 系列三(实战篇)</a>
                                        </div>
                                        <div class="content-text">
                                            想想看，你的生活中有没有这样的时候： 明明没有干什么却总是觉得没时间
                                            ，倒在床上冥思苦想一天的收获，
                                            除了身体的疲惫和精神的萧条，似乎什么也没剩下。更多时候，你除了倒在床上，自己..
                                        </div>
                                        <div class="info-row meta-row">
                                            <ul class="meta-list">
                                                <li class="item category">
                                                    <span class="category-title frontend">前端</span>
                                                </li>
                                                <li class="item username clickable">
                                                    <div class="user-popover-box">
                                                        <a href="">花裤衩</a>
                                                    </div>
                                                </li>
                                                <li class="item">10月前</li>
                                                <li class="item">25781 次阅读</li>
                                            </ul>
                                        </div>
                                    </div>
                                    <div class="lazy thumb thumb loaded"
                                         style="background-image: url('/default/img/2017100416064445-e1512811758795.jpeg'); background-size: cover;">
                                    </div>
                                </article>
                            </li>
                            <li>
                                <article class="article-list content-box">
                                    <div class="info-box">
                                        <div class="info-row title-row">
                                            <a href="/article" class="title">手摸手，带你用vue撸后台 系列三(实战篇)</a>
                                        </div>
                                        <div class="content-text">
                                            想想看，你的生活中有没有这样的时候： 明明没有干什么却总是觉得没时间
                                            ，倒在床上冥思苦想一天的收获，
                                            除了身体的疲惫和精神的萧条，似乎什么也没剩下。更多时候，你除了倒在床上，自己..
                                        </div>
                                        <div class="info-row meta-row">
                                            <ul class="meta-list">
                                                <li class="item category">
                                                    <span class="category-title frontend">前端</span>
                                                </li>
                                                <li class="item username clickable">
                                                    <div class="user-popover-box">
                                                        <a href="">花裤衩</a>
                                                    </div>
                                                </li>
                                                <li class="item">10月前</li>
                                                <li class="item">25781 次阅读</li>
                                            </ul>
                                        </div>
                                    </div>
                                    <div class="lazy thumb thumb loaded"
                                         style="background-image: url('/default/img/2017100416064445-e1512811758795.jpeg'); background-size: cover;">
                                    </div>
                                </article>
                            </li>
                            <li>
                                <article class="article-list content-box">
                                    <div class="info-box">
                                        <div class="info-row title-row">
                                            <a href="/article" class="title">手摸手，带你用vue撸后台 系列三(实战篇)</a>
                                        </div>
                                        <div class="content-text">
                                            想想看，你的生活中有没有这样的时候： 明明没有干什么却总是觉得没时间
                                            ，倒在床上冥思苦想一天的收获，
                                            除了身体的疲惫和精神的萧条，似乎什么也没剩下。更多时候，你除了倒在床上，自己..
                                        </div>
                                        <div class="info-row meta-row">
                                            <ul class="meta-list">
                                                <li class="item category">
                                                    <span class="category-title frontend">前端</span>
                                                </li>
                                                <li class="item username clickable">
                                                    <div class="user-popover-box">
                                                        <a href="">花裤衩</a>
                                                    </div>
                                                </li>
                                                <li class="item">10月前</li>
                                                <li class="item">25781 次阅读</li>
                                            </ul>
                                        </div>
                                    </div>
                                    <div class="lazy thumb thumb loaded"
                                         style="background-image: url('/default/img/2017100416064445-e1512811758795.jpeg'); background-size: cover;">
                                    </div>
                                </article>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>

        </div>
    </div>
</section>
<!--article-list-lay layout-content end-->


<!--footer_view.ejs start-->
<% include parts/footer_view.ejs %>
<!--footer_view.ejs end-->

<!--<script>

  var navbar = document.getElementById('layout-navbar')

  function getScrollTop () {
    var scrollTop = 0;
    if (document.documentElement && document.documentElement.scrollTop) {
      scrollTop = document.documentElement.scrollTop;
    }
    else if (document.body) {
      scrollTop = document.body.scrollTop;
    }
    return scrollTop;
  }

  window.onscroll = function () {
    var st = getScrollTop()
    if (st > 50) {
      navbar.classList.add("navbar-fixed-top");
    } else {
      navbar.classList.remove("navbar-fixed-top");
    }
  }

</script>-->
</body>

<% include parts/footer.ejs %>