<!--header.html start-->
<% include parts/header.html %>
<!--header.html end-->

<body class="theme-gray">

<!--header_view.html start-->
<% include parts/header_view.html %>
<!--header_view.html end-->


<div class="home-lay index-box-container" id="index">

    <nav class="nav-header recommend-collection">
        <ul class="nav-item-view index-container">
            <li class="nav-item">
                <a class="collection" href="/">
                    <span class="collection-name"> 推荐 </span>
                </a>
            </li>
            <% data.article_column.forEach(function (item, key) { %>
            <li class="nav-item">
                <a class="collection <% if(item.article_column_id == data.column_id){ %> active <% } %>"
                   href="/column/<%= item.article_column_id %>">
                    <span class="collection-name"><%= item.article_column_name %></span>
                </a>
            </li>
            <% }) %>
            <li class="nav-item">
                <a class="collection" href="/subscribe/tag">
                    <span class="collection-name">
                      更多...
                    </span>
                </a>
            </li>
        </ul>
    </nav>

    <div class="index-container">

        <div class="row">
            <div class="col-xs-12 col-sm-8 col-md-8">

                <% if (data.current_page === 'index'){ %>

                <div class="bannerBox clearfix">
                    <div class="bannerBox-img">
                        <a href="//www.imooc.com/article/268019" target="_blank">
                            <img src="//img3.mukewang.com/5c19a63f0001380305200332.jpg">
                            <div class="bannerDescription">
                                <span>多线程基础知识总结</span>
                            </div>
                        </a>
                    </div>
                    <div class="bannerBox-img">
                        <a href="//www.imooc.com/article/23266" target="_blank">
                            <img src="//img4.mukewang.com/5c19a6750001002b06000338.jpg">

                            <div class="bannerDescription">
                                <span>Android中如何使用代码打开各种类型的文件</span>
                            </div>
                        </a>
                    </div>
                    <div class="bannerBox-img">
                        <a href="//www.imooc.com/article/23266" target="_blank">
                            <img src="//img4.mukewang.com/5c19a6750001002b06000338.jpg">

                            <div class="bannerDescription">
                                <span>Android中如何使用代码打开各种类型的文件</span>
                            </div>
                        </a>
                    </div>
                </div>
                <% }else { %>

                <div class="main-top clearfix">
                    <div class="main-top-img">
                        <img src="/upload/web/user_avatar/2018/12/1545033093539.jpg" alt="">
                    </div>
                    <div class="main-top-view">
                        <h3>
                            <%= data.current_page %>
                        </h3>
                        <p class="info">别再最该拼搏的年纪选择安逸{{message}}</p>
                    </div>
                </div>

                <% } %>

                <!--home-lay layout-content start-->
                <section class="layout-content ">

                    <nav class="list-nav">
                        <ul class="nav-list left">
                            <li class="nav-item active"><a href="/timeline?sort=popular">热门</a></li>
                            <li class="nav-item"><a href="/timeline?sort=newest">最新</a></li>
                            <li class="nav-item"><a href="/timeline?sort=comment">评论</a></li>
                        </ul>
                        <ul class="nav-list right">
                            <li class="nav-item"><a href="/timeline?sort=hottest">全部</a></li>
                            <li class="nav-item"><a href="/timeline?sort=weeklyHottest">本周最热</a></li>
                            <li class="nav-item"><a href="/timeline?sort=monthlyHottest">本月最热</a></li>
                        </ul>
                    </nav>


                    <ul class="article-list">
                        <!--第一页默认服务端渲染-->
                        <% data.article_list.forEach(function (item, key) { %>
                        <li>
                            <article class="content-box content-box-index">
                                <div class="info-box">

                                    <div class="info-row title-row">
                                        <a href="/article/<%= item.aid %>" class="title" target="_blank">
                                            <%= item.title %></a>
                                    </div>

                                    <!-- <div class="content-text">
                                         <%- item.excerpt %>
                                     </div>-->

                                    <div class="info-row meta-row">
                                        <ul class="meta-list">
                                            <li class="item username clickable">
                                                <a href="/user/<%= item.uid %>/article/all">
                                                    <%= item.user.nickname %></a>
                                            </li>
                                            <li class="item item-icon like-article">
                                                <i class="iconfont icon-love"></i>
                                                <strong>
                                                    <%= item.like_count %></strong>
                                            </li>
                                            <li class="item item-icon comment-count">
                                                <i class="iconfont icon-pinglun"></i>
                                                <strong>
                                                    <%= item.comment_count %></strong>
                                            </li>
                                            <li class="item">
                                                <%= item.create_at %>
                                            </li>
                                            <% if(item.tag_ids){ %>
                                            <li class="item">
                                                <% item.tag_ids.split(',').forEach(function (item, key) { %>
                                                <%
                                                data.tag_all.forEach(function (tag_all_item, tag_all_key) {
                                                if (tag_all_item.article_tag_id == item) {
                                                %>
                                                <a class="tag-class frontend"
                                                   href="/tag/<%= tag_all_item.article_tag_id %>">
                                                    <%= tag_all_item.article_tag_name %>
                                                </a>
                                                <%
                                                }}) %>
                                                <% }) %>
                                            </li>
                                            <% } %>
                                        </ul>
                                    </div>
                                </div>
                                <% if(item.cover_img){ %>
                                <div class="lazy thumb thumb loaded"
                                     style="background-image: url('<%= item.cover_img %>'); background-size: cover;">
                                </div>
                                <% } %>
                            </article>
                        </li>
                        <% }) %>
                        <li v-for="item in article_list">
                            <!--第一页之后ajax渲染-->
                            <article class="content-box content-box-index">
                                <div class="info-box">

                                    <div class="info-row title-row">
                                        <a :href="article_href(item.aid)" class="title" target="_blank">{{ item.title
                                            }}</a>
                                    </div>

                                    <div class="content-text">
                                        {{item.excerpt}}
                                    </div>

                                    <div class="info-row meta-row">
                                        <ul class="meta-list">
                                            <li class="item username clickable">
                                                <a href="">{{ item.user.nickname }}</a>
                                            </li>
                                            <li class="item item-icon like-article">
                                                <i class="iconfont icon-love"></i>
                                                <strong>{{ item.like_count }}</strong>
                                            </li>
                                            <li class="item item-icon comment-count">
                                                <i class="iconfont icon-pinglun"></i>
                                                <strong>{{ item.comment_count }}</strong>
                                            </li>
                                            <li class="item">{{ item.create_at }}</li>
                                            <li class="item" v-if="item.tag_ids">
                                                <a v-for="item_article_tag in article_tag_filter(item.tag_ids)"
                                                   class="tag-class frontend"
                                                   :href="tag_href(item_article_tag.article_tag_id)">
                                                    {{item_article_tag.article_tag_name}}
                                                </a>
                                            </li>
                                        </ul>
                                    </div>


                                </div>
                                <div class="lazy thumb thumb loaded" v-if="item.cover_img"
                                     style="background-size: cover;"
                                     :style="{'background-image':'url('+item.cover_img+')'}">
                                </div>
                            </article>
                        </li>
                    </ul>


                    <div class="article-footer">
                        <button class="reading-more" @click="get_index_article_list" v-if="loading_btn">阅读更多</button>
                        <span class="reading-null" v-else>没有更多...</span>
                    </div>

                </section>
                <!--home-lay layout-content end-->


            </div>
            <div class="col-xs-12 col-sm-4 col-md-4">
                <!--aside.html start-->
                <% include parts/aside.html %>
                <!--aside.html end-->
            </div>
        </div>
    </div>
</div>


<script>
  new Vue({
    el: '#index',
    data: {
      message: 'Hello Vue!',
      page: 2,
      pageSize: 25,
      column_id: '<%= data.column_id %>',
      tag_all: '',
      article_list: [],
      loading_btn: Number('<%= data.count %>') >= 25
    },
    created: function () {
      /* this.get_index_article_list()*/
    },
    methods: {
      get_index_article_list: function () {
        var params = {
          page: this.page,
          column_id: this.column_id
        }
        var that = this
        _server.get_index_article_list(params).then(function (res) {
          that.$nextTick(function () {
            if (res.data.article_list.length > 0) {
              that.article_list = that.article_list.concat(res.data.article_list)
            }
            if (res.data.article_list.length < that.pageSize) {
              this.loading_btn = false
            } else {
              this.loading_btn = true
            }
            that.article_tag = res.data.article_tag
            that.page = Number(res.data.page) + 1
          })
          console.log('this.article_list', this.article_list)
        })
      },
      article_href: function (val) {
        return '/article/' + val + ''
      },
      tag_href: function (val) {
        return '/tag/' + val + ''
      },
      article_tag_filter: function (val) {
        var _arr = []
        this.article_tag.map(function (item, key) {
          if (val.split(',').indexOf(String(item.article_tag_id)) !== -1) {
            _arr.push(item)
          }
        })
        console.log(_arr)
        return _arr
      }
    }
  })
</script>


</body>

<% include parts/footer.html %>
