<!--header.ejs start-->
<% include parts/header.ejs %>
<!--header.ejs end-->

<body class="black-theme">


<!--home-lay layout-content start-->
<section class="sign-lay layout-content">
    <div class="sign-view card">
        <div class="title">
            <a href="/sign_in">登录</a>
            <b>·</b>
            <a class="active" href="/sign_up">注册</a>
        </div>
        <div class="js-sign-in-container">
            <form id="sign-up" accept-charset="UTF-8" method="post">
                <!-- 正常登录登录名输入框 -->
                <div class="input-prepend restyle js-normal">
                    <input placeholder="你的昵称" type="text" class="nickname" name="nickname">
                    <i class="iconfont icon-account"></i>
                </div>

                <div class="input-prepend email-view">
                    <input placeholder="邮箱(暂时只支持邮箱，后续开放手机)" type="text" class="send-email-input account" name="account">
                    <i class="iconfont icon-phone"></i>
                    <button class="btn-send-email-code btn" type="button">发送验证码</button>
                </div>

                <div class="input-prepend email-view-code">
                    <input placeholder="请输入验证码" type="text" class="send-email-code code" name="account">
                    <i class="iconfont icon-yanzhengma"></i>
                </div>

                <div class="input-prepend">
                    <input placeholder="密码" type="password" class="password" name="password">
                    <i class="iconfont icon-mima"></i>
                </div>

                <div class="input-prepend">
                    <input placeholder="重复密码" type="double_password" class="double_password" name="double_password">
                    <i class="iconfont icon-mima"></i>
                </div>

                <button class="sign-up-button" type="button">
                    注册
                </button>
            </form>
            <!-- 更多登录方式 -->
            <div class="more-sign">
                <h6>社交帐号登录</h6>
                <ul>
                    <li><a class="weibo" href="javascript:alert(暂未开放，请等待后续开放);"><i class="iconfont icon-xinlang"></i></a></li>
                    <li><a class="weixin" target="_blank" href="javascript:alert(暂未开放，请等待后续开放);"><i class="iconfont icon-iconfontweixin"></i></a></li>
                    <li><a class="qq" target="_blank" href="javascript:alert(暂未开放，请等待后续开放);"><i class="iconfont icon-qq"></i></a></li>
                </ul>

                <div class="weibo-geetest-captcha"></div>
            </div>
        </div>
    </div>
</section>
<!--home-lay layout-content end-->


<script>

  function isIE () {
    if (!!window.ActiveXObject || "ActiveXObject" in window)
      return true;
    else
      return false;
  }

  window.onload = function () {

    var sign_up_from = document.getElementById('sign-up')

    if (isIE()) {
      document.getElementsByClassName('send-email-input')[0].onpropertychange = lis_email
    } else {
      document.getElementsByClassName('send-email-input')[0].oninput = lis_email
    }

    function lis_email (e) {
      console.log(e.target.value.length)
      if (e.target.value.length > 0)
        document.getElementsByClassName('email-view-code')[0].style.display = 'block'
      else
        document.getElementsByClassName('email-view-code')[0].style.display = 'none'
    }

    sign_up_from.getElementsByClassName('btn-send-email-code')[0].onclick = function () {
      var data = {
        account: sign_up_from.getElementsByClassName('account')[0].value,
      }
      axios.post('/sign_up_code', data).then(function (res) {
        console.log(res.data)
        if (res.data.state === 'success') {
          alert(res.data.message)
        } else {
          alert(res.data.message)
        }
      })
    }

    sign_up_from.getElementsByClassName('sign-up-button')[0].onclick = function () {

      var data = {
        nickname: sign_up_from.getElementsByClassName('nickname')[0].value,
        account: sign_up_from.getElementsByClassName('account')[0].value,
        code: sign_up_from.getElementsByClassName('code')[0].value,
        password: sign_up_from.getElementsByClassName('password')[0].value,
        double_password: sign_up_from.getElementsByClassName('double_password')[0].value
      }
      axios.post('/sign_up', data).then(function (res) {
        console.log(res.data)
        if (res.data.state === 'success') {
          alert(res.data.message)
          window.location.href = '/sign_in'
        } else {
          alert(res.data.message)
        }
      })
    }

  }
</script>

<!--<script>

  var navbar = document.getElementById('layout-navbar')

  function getScrollTop () {
    var scrollTop = 0;
    if (document.documentElement && document.documentElement.scrollTop) {
      scrollTop = document.documentElement.scrollTop;
    }
    else if (document.body) {
      scrollTop = document.body.scrollTop;
    }
    return scrollTop;
  }

  window.onscroll = function () {
    var st = getScrollTop()
    if (st > 50) {
      navbar.classList.add("navbar-fixed-top");
    } else {
      navbar.classList.remove("navbar-fixed-top");
    }
  }

</script>-->
</body>

<% include parts/footer.ejs %>