<!--header.ejs start-->
<% include parts/header.ejs %>
<!--header.ejs end-->

<body class="black-theme">

<!--header_view.ejs start-->
<% include parts/header_view.ejs %>
<!--header_view.ejs end-->


<!--article-list-lay layout-content start-->
<section class="subscribe-lay layout-content">
    <div class="container  box-container" style="padding-top: 60px">

        <header class="list-header">
            <nav role="navigation" class="list-nav">
                <ul class="nav-list">
                    <li class="nav-item active"><a href="/subscribe/all?sort=hottest">最热</a></li>
                    <li class="nav-item"><a href="/subscribe/all?sort=newest">最新</a></li>
                    <li class="nav-item search">
                        <form role="search" class="search-form">
                            <input maxlength="32" placeholder="搜索标签" class="search-input">
                        </form>
                    </li>
                </ul>
            </nav>
        </header>


        <ul class="row tag-list">
            <li class="item  col-xs-12 col-sm-3 col-md-3 ">
                <div class="tag">
                    <div class="info-box">
                        <a href="/tag/666" target="_blank" rel="">
                            <div class="lazy thumb thumb loaded"
                                 style="background-image: url(&quot;https://lc-mhke0kuv.cn-n1.lcfile.com/bac28828a49181c34110.png&quot;); background-size: contain;"></div>
                            <div class="title">前端</div>
                        </a>
                        <div class="meta-box">
                            <div class="meta subscribe">258106 关注</div>
                            <div class="meta article">18332 文章</div>
                        </div>
                    </div>
                    <div class="action-box">
                        <button class="subscribe-btn">关注</button>
                    </div>
                </div>
            </li>

            <li class="item  col-xs-12 col-sm-3 col-md-3 ">
                <div class="tag">
                    <div class="info-box">
                        <a href="/tag/666" target="_blank" rel="">
                            <div class="lazy thumb thumb loaded"
                                 style="background-image: url(&quot;https://lc-mhke0kuv.cn-n1.lcfile.com/bac28828a49181c34110.png&quot;); background-size: contain;"></div>
                            <div class="title">前端</div>
                        </a>
                        <div class="meta-box">
                            <div class="meta subscribe">258106 关注</div>
                            <div class="meta article">18332 文章</div>
                        </div>
                    </div>
                    <div class="action-box">
                        <button class="subscribe-btn">关注</button>
                    </div>
                </div>
            </li>

            <li class="item  col-xs-12 col-sm-3 col-md-3 ">
                <div class="tag">
                    <div class="info-box">
                        <a href="/tag/666" target="_blank" rel="">
                            <div class="lazy thumb thumb loaded"
                                 style="background-image: url(&quot;https://lc-mhke0kuv.cn-n1.lcfile.com/bac28828a49181c34110.png&quot;); background-size: contain;"></div>
                            <div class="title">前端</div>
                        </a>
                        <div class="meta-box">
                            <div class="meta subscribe">258106 关注</div>
                            <div class="meta article">18332 文章</div>
                        </div>
                    </div>
                    <div class="action-box">
                        <button class="subscribe-btn">关注</button>
                    </div>
                </div>
            </li>

            <li class="item  col-xs-12 col-sm-3 col-md-3 ">
                <div class="tag">
                    <div class="info-box">
                        <a href="/tag/666" target="_blank" rel="">
                            <div class="lazy thumb thumb loaded"
                                 style="background-image: url(&quot;https://lc-mhke0kuv.cn-n1.lcfile.com/bac28828a49181c34110.png&quot;); background-size: contain;"></div>
                            <div class="title">前端</div>
                        </a>
                        <div class="meta-box">
                            <div class="meta subscribe">258106 关注</div>
                            <div class="meta article">18332 文章</div>
                        </div>
                    </div>
                    <div class="action-box">
                        <button class="subscribe-btn">关注</button>
                    </div>
                </div>
            </li>

            <li class="item  col-xs-12 col-sm-3 col-md-3 ">
                <div class="tag">
                    <div class="info-box">
                        <a href="/tag/666" target="_blank" rel="">
                            <div class="lazy thumb thumb loaded"
                                 style="background-image: url(&quot;https://lc-mhke0kuv.cn-n1.lcfile.com/bac28828a49181c34110.png&quot;); background-size: contain;"></div>
                            <div class="title">前端</div>
                        </a>
                        <div class="meta-box">
                            <div class="meta subscribe">258106 关注</div>
                            <div class="meta article">18332 文章</div>
                        </div>
                    </div>
                    <div class="action-box">
                        <button class="subscribe-btn">关注</button>
                    </div>
                </div>
            </li>

            <li class="item  col-xs-12 col-sm-3 col-md-3 ">
                <div class="tag">
                    <div class="info-box">
                        <a href="/tag/666" target="_blank" rel="">
                            <div class="lazy thumb thumb loaded"
                                 style="background-image: url(&quot;https://lc-mhke0kuv.cn-n1.lcfile.com/bac28828a49181c34110.png&quot;); background-size: contain;"></div>
                            <div class="title">前端</div>
                        </a>
                        <div class="meta-box">
                            <div class="meta subscribe">258106 关注</div>
                            <div class="meta article">18332 文章</div>
                        </div>
                    </div>
                    <div class="action-box">
                        <button class="subscribe-btn">关注</button>
                    </div>
                </div>
            </li>
        </ul>

    </div>
</section>
<!--article-list-lay layout-content end-->


<!--footer_view.ejs start-->
<% include parts/footer_view.ejs %>
<!--footer_view.ejs end-->

<!--<script>

var navbar = document.getElementById('layout-navbar')

function getScrollTop () {
  var scrollTop = 0;
  if (document.documentElement && document.documentElement.scrollTop) {
    scrollTop = document.documentElement.scrollTop;
  }
  else if (document.body) {
    scrollTop = document.body.scrollTop;
  }
  return scrollTop;
}

window.onscroll = function () {
  var st = getScrollTop()
  if (st > 50) {
    navbar.classList.add("navbar-fixed-top");
  } else {
    navbar.classList.remove("navbar-fixed-top");
  }
}

</script>-->
</body>

<% include parts/footer.ejs %>