<!--header.ejs start-->
<% include parts/header.ejs %>
<!--header.ejs end-->
<script src="/default/js/marked.min.js"></script>
<body class="black-theme">


<!--writer-lay layout-content start-->
<section class="writer-lay layout-content" id="writer">

    <!--writer-header start-->
    <div class="writer-header" id="writer-header">

        <div class="writer-header-view clearfix">
            <ul class="writer-right">
                <li><a class="btn btn-primary" href="javascript:;" id="save-article-draft">保存为草稿</a></li>
                <li><a class="btn btn-primary" href="javascript:;" id="issue-article-model" class="btn btn-primary"
                       data-toggle="modal" data-target="#article-save-model">发布文章</a></li>
                <li><a class="btn btn-outline-primary" href="/"><i class="iconfont icon-zhuye"></i></a></li>
            </ul>
        </div>

    </div>
    <!--writer-header end-->

    <!--writer-content start-->
    <div class="writer-content">
        <div class="writer-box">
            <input class="writer-input" style="display: block" type="text" id="article-title" placeholder="请输入文章标题">
            <ul class="writer-nav">
                <li><i class="iconfont icon-tupian"></i></li>
                <li><i class="iconfont icon-chexiaofanhuichehuishangyibu"></i></li>
                <li><i class="iconfont icon-zhongzhi"></i></li>
            </ul>
            <textarea class="write-textarea" name="" id="write-textarea" cols="30" rows="10" wrap="hard"></textarea>
        </div>
        <div class="content-preview">
            <div id="mark-text" class="box-article-view"></div>
        </div>
    </div>
    <!--writer-content end-->


    <div class="modal fade" id="article-save-model" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">保存文章</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="writer-submit-view">
                        <div class="clearfix">
                            <div class="topic-warp topic-warp-topic">
                                <p class="common-title">个人专题</p>
                                <div class="common-select-box topic-box js-topic-box" id="js-topic-box">

                                    <span class="common-select-name" id="topic_name">请选择需要投递的栏目</span>
                                    <i class="iconfont icon-moreunfold" id="topic_name_i"></i>
                                    <ul class="common-select-ul box-hide" id="topic_ul_list">
                                        <li class="active">请选择需要投递的栏目</li>
                                    </ul>
                                </div>
                            </div>
                            <div class="create-topic">
                                <div class="create-topic-view box-hide">
                                    <input class="create-topic-input" type="text">
                                    <button class="btn btn-primary btn-sm" id="save-create-topic">保存</button>
                                    <button class="btn btn-primary btn-sm" id="hide-create-topic">取消</button>
                                </div>
                                <button class="btn btn-primary btn-sm" id="show-create-topic">创建新专题</button>
                            </div>
                        </div>

                        <div class="clearfix">
                            <div class="topic-warp topic-warp-topic">
                                <p class="common-title">文章形式</p>
                                <div class="common-select-box topic-box js-topic-box" id="js-topic-box-type"
                                     style="width: 130px">
                                    <span class="common-select-name" id="article_type">请选择</span>
                                    <i class="iconfont icon-moreunfold" id="article_type_i_type"></i>
                                    <ul class="common-select-ul box-hide" id="topic_ul_list_type" style="height: 115px">
                                        <li class="active">请选择</li>
                                        <li class="" data-id="1">原创</li>
                                        <li class="" data-id="2">转载</li>
                                    </ul>
                                </div>
                            </div>
                        </div>

                        <div class="tag-warp">
                            <p class="common-title">文章标签<span><em id="chosen_tag_num">0</em>/3</span></p>
                            <div class="search-box clearfix">
                                <div class="clearfix js-chosen-tags">

                                </div>
                                <input class="search-input" placeholder="选择下列热门标签或输入关键词检索标签" id="search_input"
                                       style="width: 440px;">
                            </div>
                            <p class="search-result hide js-search-result">相关“<span class="js-search-text"></span>”的搜索
                                <span
                                        class="js-search-num"></span> 个</p>
                            <div class="tag-list-view js-tag-nano has-scrollbar" style="height: 160px;">
                                <div class="clearfix js-tag-list">

                                </div>
                            </div>
                        </div>


                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal" id="save-draft">保存并取消</button>
                    <button type="button" class="btn btn-primary" id="save_article">确定发布</button>
                </div>
            </div>
        </div>
    </div>


</section>
<!--writer-lay layout-content end-->


<script>

  new Vue({
    el: '#writer',
    data: function () {
      return {}
    },
    methods: {

    }
  })

  window.onload = function () {

    !function (window) {

      var get_article_tag_all = _server.get_article_tag_all()

      render_topic_ul_li()
      render_tag_ul_li()

      function show_create () {
        /*创建专题*/
        var create_topic = document.getElementsByClassName('create-topic-view')[0]
        /*保存*/
        var save_create_topic = document.getElementById('save-create-topic')
        /*取消*/
        var hide_create_topic = document.getElementById('hide-create-topic')
        var show_create_topic = document.getElementById('show-create-topic')

        create_topic.classList.remove('box-hide')
        show_create_topic.classList.add('box-hide')

        save_create_topic.onclick = function () { /*创建专题事件*/
          _server.create_user_article_topic({
            topic_name: document.querySelector('.create-topic-input').value
          }).then(function (res) {
            if (res.state === 'success') {
              alert('创建成功')
              create_topic.classList.add('box-hide')
              show_create_topic.classList.remove('box-hide')
              render_topic_ul_li()
            } else {
              alert(res.message)
            }
          })
        }

        hide_create_topic.onclick = function () { /*取消创建专题事件*/
          create_topic.classList.add('box-hide')
          show_create_topic.classList.remove('box-hide')
        }

      }

      /*获取专题点击选项框*/

      function show_topic_ul_list () {
        var topic_ul_list = document.getElementById('topic_ul_list')
        topic_ul_list.classList.remove('box-hide')
        topic_ul_list.addEventListener('click', function (e) {
          console.log('e.target', e)
          document.querySelector('#topic_name').innerHTML = e.target.innerHTML
          document.querySelector('#topic_name').setAttribute('data-id', e.target.getAttribute('data-id'))
          topic_ul_list.classList.add('box-hide')
        })
      }

      function show_topic_ul_list_type () {
        var topic_ul_list = document.getElementById('topic_ul_list_type')
        topic_ul_list.classList.remove('box-hide')
        topic_ul_list.addEventListener('click', function (e) {
          document.querySelector('#article_type').innerHTML = e.target.innerHTML
          document.querySelector('#article_type').setAttribute('data-id', e.target.getAttribute('data-id'))
          topic_ul_list.classList.add('box-hide')
        })
      }

      function render_topic_ul_li () {  /*渲染所有当前用户所属专题*/
        var topic_ul_list = document.getElementById('topic_ul_list')
        var html = ''
        _server.get_user_article_topic_all().then(function (res) {
          for (var item in res.data.list) {
            console.log('html', res.data.list[item].topic_name)
            html += '<li data-id="' + res.data.list[item].topic_id + '">' + res.data.list[item].topic_name + '</li>'
          }
          topic_ul_list.innerHTML = html
        })
      }

      function render_tag_ul_li () { /*渲染所有文章标签*/
        var tag_ul_list = document.querySelector('.js-tag-list')
        var html = ''
        get_article_tag_all.then(function (res) {
          for (var item in res.data.list) {
            console.log('html', res.data.list[item].article_tag_name)
            html += '<span class="tag-item" data-tag-id="' + res.data.list[item].article_tag_id + '">' + res.data.list[item].article_tag_name + '</span>'
          }
          tag_ul_list.innerHTML = html
        })
      }

      function find_article_tag () {
        var inputField = document.getElementById('search_input')
        var tag_ul_list = document.querySelector('.js-tag-list')
        var js_search_text = document.querySelector('.js-search-text')
        var js_search_num = document.querySelector('.js-search-num')
        var js_search_result = document.querySelector('.js-search-result')
        var html = ''
        var _arr = []
        get_article_tag_all.then(function (res) {
          for (var item in res.data.list) {
            console.log(res.data.list[item])
            if ((res.data.list[item].article_tag_name).toLowerCase().indexOf(inputField.value.toLowerCase()) >= 0) {
              _arr.push(res.data.list[item])
            }
          }
          for (var item in _arr) {
            console.log(_arr[item])
            html += '<span class="tag-item" data-tag-id="' + _arr[item].article_tag_id + '">' + _arr[item].article_tag_name + '</span>'
          }
          if (inputField.value.length === 0) {
            js_search_result.classList.add('hide')
          } else {
            js_search_result.classList.remove('hide')
            js_search_text.innerHTML = inputField.value
            js_search_num.innerHTML = _arr.length
          }
          tag_ul_list.innerHTML = html
        })
      }

      $('body').on('keyup', '#search_input', function () {
        find_article_tag()
      })

      var current_article_tag_arr = []

      function current_article_tag (obj) { /*替换选中*/
        document.getElementById('search_input').value = ''
        let _arr = []
        for (var item in current_article_tag_arr) {
          _arr.push(current_article_tag_arr[item].article_tag_name)
        }
        if (current_article_tag_arr.length < 3 && _arr.indexOf(obj.text()) === -1) {
          current_article_tag_arr.push({article_tag_id: obj.attr('data-tag-id'), article_tag_name: obj.text()})
        }
        render_current_article_tag()
      }

      function render_current_article_tag () {
        var html = ''
        var js_chosen_tags = $('.js-chosen-tags')
        var inputField = document.getElementById('search_input')
        for (var item in current_article_tag_arr) {
          console.log(current_article_tag_arr[item])
          html += '<span class="tag-item" data-tag-id="' + current_article_tag_arr[item].article_tag_id + '">' + current_article_tag_arr[item].article_tag_name + '</span>'
        }
        js_chosen_tags.html(html)
        inputField.style.width = (400 - $('.js-chosen-tags').width()) + 'px'
        if (current_article_tag_arr.length >= 3) {
          inputField.style.display = 'none'
        } else {
          inputField.style.display = 'block'
        }
        $('#chosen_tag_num').text(current_article_tag_arr.length)
      }

      function delete_current_article_tag (obj) { /*替换选中*/

        for (var item in current_article_tag_arr) {
          if (obj.text() === current_article_tag_arr[item].article_tag_name) {
            current_article_tag_arr.splice(item, 1)
          }
        }
        render_current_article_tag()
      }

      $('body').on('click', '.js-tag-list .tag-item', function () {
        current_article_tag($(this))
      })

      $('body').on('click', '.js-chosen-tags .tag-item', function () {
        delete_current_article_tag($(this))
      })

      /*公共事件监听*/
      document.addEventListener('click', function (event) {
        var target = event.target
        if (target.id == 'show-create-topic') {
          show_create()
        } else if (target.id == 'topic_name' || target.id == 'topic_name_i') {
          show_topic_ul_list()
        } else if (target.id == 'article_type' || target.id == 'article_type_i_type') {
          show_topic_ul_list_type()
        }
      })

      /*文档编写区域*/
      var write_textarea = document.getElementById('write-textarea')

      write_textarea.addEventListener('keyup', function (e) {
        document.getElementById('mark-text').innerHTML =
          marked(write_textarea.value, {breaks: true})
      })

      /*保存文章*/

      function getObjectValues (object) {
        var values = []
        for (var property in object)
          values.push(object[property].article_tag_id)
        return values
      }

      $('body').on('click', '#save_article', function () {
        var load_index = layer.load(2, {time: 10 * 1000})
        var params = {
          title: document.querySelector('#article-title').value,//文章的标题
          content: marked(write_textarea.value, {breaks: true}), /*主内容*/
          origin_content: write_textarea.value, /*源内容*/
          source: document.querySelector('#article_type').getAttribute('data-id'), // 来源 （1原创 2转载）
          type: 1, // 类型 （1文章 2说说 3视频 4公告 ）
          topic_ids: document.querySelector('#topic_name').getAttribute('data-id'),
          tag_ids: getObjectValues(current_article_tag_arr).join(',')
        }

        _server.post_article_writer(params).then(function (res) {
          layer.close(load_index)
          if (res.state === 'success') {
            $('#article-save-model').modal('hide')
            window.location.href = '/user/<%= user_info.uid %>/article/all'
          } else {
            layer.msg(res.message)
          }
        }).catch(function () {

        })

      })

    }(window)

  }


</script>
<!--<script>

  var navbar = document.getElementById('layout-navbar')

  function getScrollTop () {
    var scrollTop = 0;
    if (document.documentElement && document.documentElement.scrollTop) {
      scrollTop = document.documentElement.scrollTop;
    }
    else if (document.body) {
      scrollTop = document.body.scrollTop;
    }
    return scrollTop;
  }

  window.onscroll = function () {
    var st = getScrollTop()
    if (st > 50) {
      navbar.classList.add("navbar-fixed-top");
    } else {
      navbar.classList.remove("navbar-fixed-top");
    }
  }

</script>-->
</body>

<% include parts/footer.ejs %>