<!--header.ejs start-->
<% include parts/header.ejs %>
<!--header.ejs end-->
<script src="/default/js/marked.min.js"></script>
<body class="black-theme">


<!--writer-lay layout-content start-->
<section class="writer-lay layout-content">

    <!--writer-header start-->
    <div class="writer-header" id="writer-header">
        <div class="container-fluid">
            <div class="row">
                <div class="col-xs-12 col-sm-7 col-md-7">
                    <input class="writer-input-title" type="text" placeholder="请输入文章标题">
                </div>
                <div class="col-xs-12 col-sm-5 col-md-5">
                    <div class="pull-right">
                        <ul class="writer-right clearfix">
                            <li>
                                <select class="article-type" name="" id="">
                                    <option value="">请选择文章分类</option>
                                    <option value="前端">前端</option>
                                    <option value="HTML5">HTML5</option>
                                    <option value="js">js</option>
                                </select>
                            </li>
                            <li><a class="btn add-cover-img" href="javascript:;">添加封面图片</a></li>
                            <li><a class="btn save-draft" href="javascript:;"><i class="iconfont icon-iconset0238"></i></a>
                            </li>
                            <li><a class="btn post-article" href="javascript:;">发布文章</a></li>
                            <li class="return-home"><a class="btn" href="/"><i class="iconfont icon-zhuye"></i></a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--writer-header end-->

    <!--writer-content start-->
    <div class="writer-content">
        <div class="writer-box">
            <ul class="writer-box-title">
                <li><i class="iconfont icon-tupian"></i></li>
                <li><i class="iconfont icon-chexiaofanhuichehuishangyibu"></i></li>
                <li><i class="iconfont icon-zhongzhi"></i></li>
            </ul>
            <textarea class="write-textarea" name="" id="" cols="30" rows="10"></textarea>
        </div>
        <div class="content-preview">
            <div id="mark-text"></div>
        </div>
    </div>
    <!--writer-content end-->


</section>
<!--writer-lay layout-content end-->


<script>
  window.onload = function () {

    var writer_header = document.getElementById('writer-header')

    writer_header.getElementsByClassName('post-article')[0].onclick = function () {

      var data = {
        title: writer_header.getElementsByClassName('writer-input-title')[0].value,
        content: document.getElementsByClassName('write-textarea')[0].value,
        type: document.getElementsByClassName('article-type')[0].value,
      }
      axios.post('/writer', data).then(function (res) {
        console.log(res.data)
        if (res.data.status === 1) {
          alert(res.data.message)
        } else {
          alert(res.data.message)
        }
      })
    }

    document.getElementById('mark-text').innerHTML =
      marked('# Marked in the browser\n\nRendered by **marked**.')
  }

</script>
<!--<script>

  var navbar = document.getElementById('layout-navbar')

  function getScrollTop () {
    var scrollTop = 0;
    if (document.documentElement && document.documentElement.scrollTop) {
      scrollTop = document.documentElement.scrollTop;
    }
    else if (document.body) {
      scrollTop = document.body.scrollTop;
    }
    return scrollTop;
  }

  window.onscroll = function () {
    var st = getScrollTop()
    if (st > 50) {
      navbar.classList.add("navbar-fixed-top");
    } else {
      navbar.classList.remove("navbar-fixed-top");
    }
  }

</script>-->
</body>

<% include parts/footer.ejs %>