<div class="home-lay layout-aside">


    <div class="publish-article">
        <h3>写下你想说的</h3>
        <div class="issue-btn">
            <a href="/writer" class="btn-note" id="js-btn-note">写文章</a>
            <span class="middle-line"></span>
            <a href="/daily_recommend" class="btn-dynamic js-publish-btn">每日推荐</a>
        </div>
    </div>

    <div class="carefully-selected">
        <a href="/article/excellent?type=1" target="_blank">
            <div class="sevenImg"></div>
        </a>
        <a href="/article/excellent?type=2" target="_blank">
            <div class="thirtyImg"></div>
        </a>
    </div>


    <a class="download clearfix">
        <img class="qrcode" src="/default/img/download.png" alt="Download index side qrcode">
        <div class="info">
            <div class="description">下载FATA手机App随时随地发现和创作内容</div>
        </div>
    </a>

</div>

