<div class="home-lay layout-aside">


    <div class="publish-article">
        <h3>写下你想说的</h3>
        <div class="issue-btn">
            <!--未登录时-->
            <a href="/writer" class="btn-note" id="js-btn-note">写文章</a>
            <span class="middle-line"></span>
            <a href="javascript:;" class="btn-dynamic js-publish-btn">发说说</a>
        </div>
    </div>

    <div class="carefully-selected">
        <a href="/article/excellent?type=1" target="_blank">
            <div class="sevenImg"></div>
        </a>
        <a href="/article/excellent?type=2" target="_blank">
            <div class="thirtyImg"></div>
        </a>
    </div>

   <!-- <div class="aside-widget widget_tag_cloud">
        <h3 class="widget-title">热门专题</h3>
        <div class="tagcloud">
            <a href="http://cosy.iwpzt.com/tag/aeon" class="tag-cloud-link tag-link-145 tag-link-position-1"
               style="font-size: 8pt;" aria-label="AEON (1个项目)">AEON</a>
            <a href="http://cosy.iwpzt.com/tag/zhe-shi-jie" class="tag-cloud-link tag-link-137 tag-link-position-42"
               style="font-size: 14.913580246914pt;" aria-label="这世界 (4个项目)">这世界</a>
            <a href="http://cosy.iwpzt.com/tag/zhang-wen-zhang" class="tag-cloud-link tag-link-54 tag-link-position-43"
               style="font-size: 17.506172839506pt;" aria-label="长文章 (6个项目)">长文章</a>
            <a href="http://cosy.iwpzt.com/tag/que-chao" class="tag-cloud-link tag-link-514 tag-link-position-44"
               style="font-size: 11.111111111111pt;" aria-label="雀巢 (2个项目)">雀巢</a>
            <a href="http://cosy.iwpzt.com/tag/can-yin" class="tag-cloud-link tag-link-404 tag-link-position-45"
               style="font-size: 11.111111111111pt;" aria-label="餐饮 (2个项目)">餐饮</a></div>
    </div>-->

    <a class="download">
        <img class="qrcode" src="/default/img/download.png" alt="Download index side qrcode">
        <div class="info">
            <div class="title">下载FATA手机App<i class="iconfont ic-link"></i></div>
            <div class="description">随时随地发现和创作内容</div>
        </div>
    </a>

</div>

