<div class="home-lay layout-aside">


    <div class="aside-component">
        <h3>写下你想说的</h3>
        <div class="issue-btn">
            <a href="/writer" class="btn-note" id="js-btn-note"><i class="iconfont icon-xiezuo"></i>写文章</a>
            <!--<span class="middle-line"></span>
            <a href="/daily_recommend" class="btn-dynamic js-publish-btn">发说说</a>-->
        </div>
    </div>

    <div class="sidebar-block user-block">
        <header class="user-block-header">你可能感兴趣的人</header>
        <ul class="user-list">
            <li class="item">
                <a href="/user/587d9f69b123db4d5e7ed9e3" target="_blank" rel="" class="link">
                    <div class="lazy avatar avatar loaded" title=""
                         style="background-image: url(&quot;https://leancloud-gold-cdn.xitu.io/c1767dd5e5217d2dd216.png?imageView2/1/w/100/h/100/q/85/format/webp/interlace/1&quot;);"></div>
                    <div class="user-info">
                        <div class="username">Fundebug</div>
                        <div class="position">全栈工程师 @ Fundebug</div>
                    </div>
                </a>
            </li>
            <li class="item">
                <a href="/user/587d9f69b123db4d5e7ed9e3" target="_blank" rel="" class="link">
                    <div class="lazy avatar avatar loaded" title=""
                         style="background-image: url(&quot;https://leancloud-gold-cdn.xitu.io/c1767dd5e5217d2dd216.png?imageView2/1/w/100/h/100/q/85/format/webp/interlace/1&quot;);"></div>
                    <div class="user-info">
                        <div class="username">Fundebug</div>
                        <div class="position">全栈工程师 @ Fundebug</div>
                    </div>
                </a>
            </li>
            <li class="item">
                <a href="/user/587d9f69b123db4d5e7ed9e3" target="_blank" rel="" class="link">
                    <div class="lazy avatar avatar loaded" title=""
                         style="background-image: url(&quot;https://leancloud-gold-cdn.xitu.io/c1767dd5e5217d2dd216.png?imageView2/1/w/100/h/100/q/85/format/webp/interlace/1&quot;);"></div>
                    <div class="user-info">
                        <div class="username">Fundebug</div>
                        <div class="position">全栈工程师 @ Fundebug</div>
                    </div>
                </a>
            </li>
            <li class="item">
                <a href="/user/587d9f69b123db4d5e7ed9e3" target="_blank" rel="" class="link">
                    <div class="lazy avatar avatar loaded" title=""
                         style="background-image: url(&quot;https://leancloud-gold-cdn.xitu.io/c1767dd5e5217d2dd216.png?imageView2/1/w/100/h/100/q/85/format/webp/interlace/1&quot;);"></div>
                    <div class="user-info">
                        <div class="username">Fundebug</div>
                        <div class="position">全栈工程师 @ Fundebug</div>
                    </div>
                </a>
            </li>
        </ul>
    </div>

    <!--<div class="publish-article">
        <h3>写下你想说的</h3>
        <div class="issue-btn">
            <a href="/writer" class="btn-note" id="js-btn-note">写文章</a>
            <span class="middle-line"></span>
            <a href="/daily_recommend" class="btn-dynamic js-publish-btn">每日推荐</a>
        </div>
    </div>-->

    <a class="download clearfix">
        <img class="qrcode" src="/default/img/download.png" alt="Download index side qrcode">
        <div class="info">
            <div class="description">下载FATA手机App随时随地发现和创作内容</div>
        </div>
    </a>

</div>

