<div class="home-lay layout-aside">


    <div class="publish-article">
        <h3>别再最该拼搏的年纪选择安逸</h3>
        <div class="issue-btn">
            <!--未登录时-->
            <a href="/writer" class="btn-note" id="js-btn-note">写文章</a>
            <span class="middle-line"></span>
            <a href="javascript:;" class="btn-dynamic js-publish-btn">发说说</a>
        </div>
    </div>

    <div class="carefully-selected">
        <a href="/article/excellent?type=1" target="_blank">
            <div class="sevenImg"></div>
        </a>
        <a href="/article/excellent?type=2" target="_blank">
            <div class="thirtyImg"></div>
        </a>
    </div>

    <div class="aside-widget widget_tag_cloud">
        <h3 class="widget-title">热门专题</h3>
        <div class="tagcloud">
            <a href="http://cosy.iwpzt.com/tag/aeon" class="tag-cloud-link tag-link-145 tag-link-position-1"
               style="font-size: 8pt;" aria-label="AEON (1个项目)">AEON</a>
            <a href="http://cosy.iwpzt.com/tag/jian-zhu-she-ji" class="tag-cloud-link tag-link-636 tag-link-position-29"
               style="font-size: 16.296296296296pt;" aria-label="建筑设计 (5个项目)">建筑设计</a>
            <a href="http://cosy.iwpzt.com/tag/pai-mai" class="tag-cloud-link tag-link-635 tag-link-position-30"
               style="font-size: 11.111111111111pt;" aria-label="拍卖 (2个项目)">拍卖</a>
            <a href="http://cosy.iwpzt.com/tag/she-ying" class="tag-cloud-link tag-link-110 tag-link-position-31"
               style="font-size: 11.111111111111pt;" aria-label="摄影 (2个项目)">摄影</a>
            <a href="http://cosy.iwpzt.com/tag/shu-zi-guang-gao"
               class="tag-cloud-link tag-link-425 tag-link-position-32" style="font-size: 11.111111111111pt;"
               aria-label="数字广告 (2个项目)">数字广告</a>
            <a href="http://cosy.iwpzt.com/tag/lv-you" class="tag-cloud-link tag-link-18 tag-link-position-33"
               style="font-size: 8pt;" aria-label="旅游 (1个项目)">旅游</a>
            <a href="http://cosy.iwpzt.com/tag/jing-guan-she-ji" class="tag-cloud-link tag-link-63 tag-link-position-34"
               style="font-size: 8pt;" aria-label="景观设计 (1个项目)">景观设计</a>
            <a href="http://cosy.iwpzt.com/tag/te-lang-pu" class="tag-cloud-link tag-link-56 tag-link-position-35"
               style="font-size: 8pt;" aria-label="特朗普 (1个项目)">特朗普</a>
            <a href="http://cosy.iwpzt.com/tag/mi-qi-lin" class="tag-cloud-link tag-link-405 tag-link-position-36"
               style="font-size: 11.111111111111pt;" aria-label="米其林 (2个项目)">米其林</a>
            <a href="http://cosy.iwpzt.com/tag/niu-yue-guang-gao-zhou"
               class="tag-cloud-link tag-link-780 tag-link-position-37" style="font-size: 11.111111111111pt;"
               aria-label="纽约广告周 (2个项目)">纽约广告周</a>
            <a href="http://cosy.iwpzt.com/tag/yi-shu-zhuang-zhi"
               class="tag-cloud-link tag-link-62 tag-link-position-38" style="font-size: 8pt;" aria-label="艺术装置 (1个项目)">艺术装置</a>
            <a href="http://cosy.iwpzt.com/tag/ping-guo" class="tag-cloud-link tag-link-48 tag-link-position-39"
               style="font-size: 16.296296296296pt;" aria-label="苹果 (5个项目)">苹果</a>
            <a href="http://cosy.iwpzt.com/tag/shi-jue-xi-tong" class="tag-cloud-link tag-link-568 tag-link-position-40"
               style="font-size: 13.185185185185pt;" aria-label="视觉系统 (3个项目)">视觉系统</a>
            <a href="http://cosy.iwpzt.com/tag/she-ji" class="tag-cloud-link tag-link-65 tag-link-position-41"
               style="font-size: 13.185185185185pt;" aria-label="设计 (3个项目)">设计</a>
            <a href="http://cosy.iwpzt.com/tag/zhe-shi-jie" class="tag-cloud-link tag-link-137 tag-link-position-42"
               style="font-size: 14.913580246914pt;" aria-label="这世界 (4个项目)">这世界</a>
            <a href="http://cosy.iwpzt.com/tag/zhang-wen-zhang" class="tag-cloud-link tag-link-54 tag-link-position-43"
               style="font-size: 17.506172839506pt;" aria-label="长文章 (6个项目)">长文章</a>
            <a href="http://cosy.iwpzt.com/tag/que-chao" class="tag-cloud-link tag-link-514 tag-link-position-44"
               style="font-size: 11.111111111111pt;" aria-label="雀巢 (2个项目)">雀巢</a>
            <a href="http://cosy.iwpzt.com/tag/can-yin" class="tag-cloud-link tag-link-404 tag-link-position-45"
               style="font-size: 11.111111111111pt;" aria-label="餐饮 (2个项目)">餐饮</a></div>
    </div>

    <a class="download">
        <img class="qrcode" src="/default/img/download.png" alt="Download index side qrcode">
        <div class="info">
            <div class="title">下载FATA手机App<i class="iconfont ic-link"></i></div>
            <div class="description">随时随地发现和创作内容</div>
        </div>
    </a>

</div>

