<div class="box-comment">
    <div class="box-comment-part">
        <h2 class="box-comment-part-title">发表评论
            <small>已发布评论 <em>{{comment_count}}</em> 条</small>
        </h2>
        <div class="comment-form" id="comment_form">
            <div class="comment-avatar">
                <% if(user_info.islogin){ %>
                <img src="<%= user_info.avatar %>"
                     alt="avatar">
                <% } else { %>
                <img src="/default/img/default_avatar.jpg"
                     alt="avatar">
                <% } %>
            </div>
            <div class="form-item" style="margin-left: 50px;">
                <div class="input-view">
                    <textarea name="comment" v-model="comment_content" class="txt long-txt textarea "></textarea>
                </div>
                <div class="form-item form-btns clearfix">
                    <div class="left-view">
                        <i class="iconfont icon-biaoqing"></i>
                    </div>
                    <div class="right-view">
                        <button type="submit" class="form-btn" @click="submit_comment">提交评论</button>
                    </div>
                </div>
            </div>
        </div>
        <div class="comment-list">
            <div id="commentlist">
                <comment-list :comment-item="item"  v-for="item in comment_list"/>
            </div>
           <!-- <p id="comment_loading" class="hidden"><i class="icon-spin1 animate-spin"></i> 评论加载中....</p>-->
            <span class="btn" id="get_comments" v-show="comment_loading_btn&&comment_count>comment_pageSize" @click="get_comment_list">底下还有哟~快放我们出去~ </span>
        </div>
    </div>
</div>


