<div class="box-comment">
    <div class="box-comment-part">
        <h2 class="box-comment-part-title">发表评论
            <small>已发布评论 <em>72</em> 条</small>
        </h2>
        <div class="comment-form" id="comment_form">
            <form class="comment_post"
                  action="https://www.uisdc.com/icon-design-6-temptations?spm=a313x.7781069.1998910419.27"
                  method="post">
                <input type="hidden" name="parent" value="0">
                <div class="form-item clearfix">
                    <span class="input-span">评论</span>
                    <div class="input-view">
                            <textarea name="comment" data-placeholder="您的评论会经编辑或作者筛选后显示，全站可见，请文明发言。"
                                      class="txt long-txt textarea textarea_need txt_empty" required=""
                                      data-line="110"></textarea>
                        <em class="total_count hidden">还可以输入<i class="count"></i>字</em>
                    </div>
                </div>
                <div class="form-item captcha-div yzm-div clearfix">
                    <span class="input-span">验证码</span>
                    <div class="input-view"><input type="text" class="txt txt_yzm txt_empty" name="captcha_code"
                                                   data-placeholder="请输入验证码"><img class="captcha-img"
                                                                                  src="https://www.uisdc.com/wp-content/themes/UISDC/captcha/captcha.php?prefix=_c4pKemMHnP4&amp;nonce=1535361741805"
                                                                                  alt="captcha"
                                                                                  title="点击刷新验证码"><input
                                type="hidden" class="hidden" name="captcha_prefix"
                                value="_c4pKemMHnP4"></div>
                </div>
                <div class="form-item form-btns">
                    <p class="error"></p>
                    <button type="submit" class="form-btn" name="submit" value="tijiao">提交评论</button>
                </div>
            </form>
        </div>
        <div class="comment-list">
            <div id="commentlist">
                <div class="comment-item" data-author="堂弟 亚历山大">
                    <div class="avatar">
                        <span>
                            <img src="https://image.uisdc.com/wp-content/uploads/2018/06/avatar-uisdc-chat.png"
                                 alt="avatar">
                        </span>
                    </div>
                    <div class="comment-body">
                        <div class="comment-main">
                            <h4>堂弟 亚历山大</h4>
                            <p>看看名字</p>
                        </div>
                        <h5>
                            <span>3小时前</span>
                            <span>来自 上海市</span>
                            <span>Chrome浏览器</span>
                            <span>
                                <span class="comment-reply" data-pid="27641">回复</span>
                                <span class="comment-zan" data-id="27641"><em></em> 点赞</span></span>
                        </h5>
                    </div>
                </div>
                <div class="comment-item approved1" id="27597" data-author="小马 佩德罗">
                    <div class="avatar">
                        <span><img src="https://image.uisdc.com/wp-content/uploads/2018/06/avatar-uisdc-chat.png"
                                   alt="avatar"></span>
                    </div>
                    <div class="comment-body">
                        <div class="comment-main">
                            <h4>小马 佩德罗</h4>
                            <p>想看看名字</p>
                        </div>
                        <h5>
                            <span>2天前</span>
                            <span>来自 四川省</span>
                            <span>Chrome浏览器</span>
                            <span>
                                <span class="comment-reply" data-pid="27597">回复</span>
                                <span class="comment-zan" data-id="27597"><em></em> 点赞</span>
                            </span>
                        </h5>
                    </div>
                </div>
                <div class="comment-item approved1" id="27502" data-author="弟弟 乔治">
                    <div class="avatar">
                        <span><img src="https://image.uisdc.com/wp-content/uploads/2018/06/avatar-uisdc-chat.png"
                                   alt="avatar"></span>
                    </div>
                    <div class="comment-body">
                        <div class="comment-main">
                            <h4>弟弟 乔治</h4>
                            <p>啊啊啊啊啊啊啊啊啊</p>
                        </div>
                        <h5>
                            <span>3天前</span>
                            <span>来自 广东省深圳市</span>
                            <span>Chrome浏览器</span>
                            <span>
                                <span class="comment-reply" data-pid="27502">回复</span>
                                <span class="comment-zan" data-id="27502"><em></em> 点赞</span>
                            </span>
                        </h5>
                    </div>
                </div>

                <div class="comment-item approved1" id="27440" data-author="小熊 贝琳达">
                    <div class="avatar">
                        <span><img src="https://image.uisdc.com/wp-content/uploads/2018/06/avatar-uisdc-chat.png"
                                   alt="avatar"></span>
                    </div>
                    <div class="comment-body">
                        <div class="comment-main">
                            <h4>小熊 贝琳达</h4>
                            <p>看看取了啥名</p>
                        </div>
                        <h5>
                            <span>08-22 20:23:25</span>
                            <span>来自 四川省绵阳市</span>
                            <span>Chrome浏览器</span>
                            <span>
                                <span class="comment-reply" data-pid="27440">回复</span>
                                <span class="comment-zan" data-id="27440"><em></em> 点赞</span>
                            </span>
                            <div class="comment-form hidden">
                                <h3 class="comment-reply-h3">回复评论 <span class="close">取消回复</span></h3>
                                <form class="comment_post"
                                      action="https://www.uisdc.com/icon-design-6-temptations?spm=a313x.7781069.1998910419.27"
                                      method="post">
                                    <input type="hidden" name="parent" value="27440">
                                    <div class="form-item clearfix">
                                        <span class="input-span">评论</span>
                                        <div class="input-view"><textarea name="comment"
                                                                          data-placeholder="您的评论会经编辑或作者筛选后显示，全站可见，请文明发言。"
                                                                          class="txt long-txt textarea textarea_need"
                                                                          required=""
                                                                          data-line="110"
                                                                          style="height: 45px;"></textarea><em
                                                    class="total_count hidden">还可以输入<i class="count">798</i>字</em>
                                        </div>
                                    </div>
                                    <div class="form-item captcha-div yzm-div clearfix">
                                        <span class="input-span">验证码</span>
                                        <div class="input-view"><input type="text" class="txt txt_yzm txt_empty"
                                                                       name="captcha_code"
                                                                       data-placeholder="请输入验证码"><img
                                                    class="captcha-img"
                                                    src="https://www.uisdc.com/wp-content/themes/UISDC/captcha/captcha.php?prefix=_c4pKemMHnP4&amp;nonce=1535361741805"
                                                    alt="captcha"
                                                    title="点击刷新验证码"><input
                                                    type="hidden" class="hidden" name="captcha_prefix"
                                                    value="_c4pKemMHnP4"></div>
                                    </div>
                                    <div class="form-item form-btns">
                                        <p class="error"></p>
                                        <button type="submit" class="form-btn" name="submit" value="tijiao"
                                                disable="false">提交评论
                                        </button>
                                    </div>
                                </form>
                            </div>
                        </h5>
                    </div>
                </div>
                <div class="comment-item animated flash child-item" id="27656" data-author="桑赞">
                    <div class="avatar"><span><img
                                    src="https://image.uisdc.com/wp-content/uploads/2018/06/avatar-uisdc-chat.png"
                                    alt="avatar"></span></div>
                    <div class="comment-body">
                        <div class="comment-main">
                            <h4>桑赞<em class="approved-em">您的评论正在等待审核~</em> <span>回复</span> 小熊 贝琳达</h4>
                            <p>啥呢</p></div>
                        <h5>
                            <span>刚刚发表</span>
                            <span>来自 国内未能识别的地区</span>
                            <span>Chrome浏览器</span>
                            <span>
                                <span class="comment-reply" data-pid="27656">回复</span>
                                <span class="comment-zan" data-id="27656"><em></em> 点赞</span>
                            </span>
                        </h5>
                    </div>
                </div>
            </div>
            <p id="comment_loading" class="hidden"><i class="icon-spin1 animate-spin"></i> 评论加载中....</p>
            <span class="btn" id="get_comments" data-paged="3">底下还有哟~快放我们出去~ </span>
        </div>
    </div>
</div>