<script>

  function header_nav_Scroll () {

    var main_header = document.querySelector('.main-header')
    var navbar = main_header.querySelector('#header-view')


    function getScrollTop () {
      return document.documentElement.scrollTop || window.pageYOffset || document.body.scrollTop
    }

    var scrollTop_type_b = 0,
      scrollTop_type_t = 0

    window.onscroll = function () {

      scrollTop_type_b = getScrollTop()

      if (scrollTop_type_t <= scrollTop_type_b) { // 下滚
        if (scrollTop_type_b > 100) {
          navbar && navbar.classList.remove('navbar-visible')

        } else {
        }
      }
      else { // 上滚
        if (scrollTop_type_b > 100) {
          navbar && navbar.classList.add('navbar-visible')
          nav_header && nav_header.classList.remove('top')
        } else {

        }
      }
      var _settime = setTimeout(function () { scrollTop_type_t = scrollTop_type_b}, 0)
    }

  }
</script>

<script>
  new Vue({
    el: '#header-view',
    data: function () {
      return {
        unread_message_count: 0
      }
    },
    created: function () {
      this.get_unread_message_count()
    },
    methods: {
      get_unread_message_count: function () {// 获取当前登录用户信息
        var that = this
        _server.get_unread_message_count()
          .then(function (res) {
            that.$nextTick(function () {
              if (res.state === 'success') {
                that.unread_message_count = res.data.unread_message_count
              }
            })
          })
      },
    }
  })

  var matches = function (el, selector) {
    return (el.matches || el.matchesSelector || el.msMatchesSelector || el.mozMatchesSelector || el.webkitMatchesSelector || el.oMatchesSelector).call(el, selector)
  }



</script>

</html>
