<script>
  new Vue({
    el: '#header-view',
    data: function () {
      return {
        unread_message_count: 0
      }
    },
    created: function () {
      this.get_unread_message_count()
    },
    methods: {
      get_unread_message_count: function () {// 获取当前登录用户信息
        var that = this
        _server.get_unread_message_count().then(function (res) {
          that.$nextTick(function () {
            if (res.state === 'success') {
              that.unread_message_count = res.data.unread_message_count
            }
          })
        })
      },
    }
  })

  var matches = function (el, selector) {
    return (el.matches || el.matchesSelector || el.msMatchesSelector || el.mozMatchesSelector || el.webkitMatchesSelector || el.oMatchesSelector).call(el, selector)
  }

  window.onload = function () {

    if (document.querySelector('.recommend-collection') && document.querySelectorAll('.recommend-collection .active').length === 0) {
      document.querySelectorAll('.recommend-collection .collection')[0].classList.add('active')
    }

    if (document.querySelector('.navbar-toggler')) {
      document.querySelector('.navbar-toggler').onclick = function () {
        if (matches(document.querySelector('.navbar-collapse'), '.show')) {
          document.querySelector('.navbar-collapse').classList.remove('show')
        } else {
          document.querySelector('.navbar-collapse').classList.add('show')
        }
      }
    }

    if (document.querySelector('.dropdown-toggle')) {
      document.querySelector('.dropdown-toggle').onclick = function () {
        if (matches(document.querySelector('.dropdown-menu'), '.show')) {
          document.querySelector('.dropdown-menu').classList.remove('show')
        } else {
          document.querySelector('.dropdown-menu').classList.add('show')
        }
      }
    }

  }

</script>

</html>
