<!--footer start-->
<footer class="footer">
    <div class="container">
        <div class="footer-bottom">
            <div class="row">
                <!-- Bottom Footer -->
                <div class="col-md-12 col-sm-12 col-xs-12 footer-copyright">
                    <p>
                    </p>
                    <p>Copyright © 2018 <a href="http://cosy.codenote.io" title="Cosy主题演示站" rel="home">Cosy主题演示站</a>.
                        Design by <a href="https://www.nicetheme.cn" title="最有范的WordPress主题开发团队" target="_blank">Nicetheme</a>.
                    </p>
                    <p></p>
                </div><!-- Bottom Footer /- -->
            </div>
        </div>
    </div>
</footer>
<!--footer end-->