<!DOCTYPE html>
<html>
<head>
    <title><%= title %></title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width,initial-scale=1,user-scalable=no,viewport-fit=cover">
    <link rel="stylesheet" href="/default/css/layout.css">
    <link rel="stylesheet" href="/default/css/home.css">
    <link rel="stylesheet" href="/default/css/reset.css">
    <script src="/default/js/axios.min.js"></script>
    <link rel="stylesheet" href="//at.alicdn.com/t/font_613865_frjw8er1xuu40a4i.css">
    <script src="/default/js/box.js"></script>
</head>