<!--header start-->
<div class="main-header" id="main-header">
    <header class="navbar  navbar-visible" id="header-view">
        <div class="container navbar-view">
            <!--<a class="navbar-brand" href="#"><img class="logo" src="/default/img/logo22.svg" alt=""></a>-->
            <a class="navbar-brand logo-text" href="/">Kite</a>

            <div class="collapse navbar-collapse">
                <ul class="navbar-item-content mr-auto">
                    <li class="navbar-menu-content active">
                        <div class="navbar-toggler">
                            <i class="iconfont icon-viewgallery"></i>
                        </div>
                        <ul class="navbar-menu">
                            <li class="nav-item">
                                <a class="nav-link" href="/">
                                    <i class="iconfont icon-zhuye" style="color: #00D0B2;"></i>主页
                                </a>
                            </li>
                            <% if(user_info.islogin){ %>
                            <li class="nav-item">
                                <a class="nav-link" href="/user/<%= user_info.uid %>/message">
                                    <i style="color: #FE385F;" class="iconfont icon-icon-test"></i>
                                    消息
                                    <span :class="{'user-message-unread':unread_message_count>0}"
                                          v-if="unread_message_count>0"
                                          v-text="unread_message_count"></span>
                                </a>
                            </li>
                            <% } %>
                        </ul>
                    </li>
                    <!--  <li class="nav-item"><a class="nav-link" href="/">说说</a></li>-->
                    <li class="nav-item search">
                        <form class="form-inline mr-lg-5" method="get" action="/search">
                            <div class="form-search">
                                <input class="form-control form-search-view" type="text" required="true" name="search"
                                       placeholder="搜索文章" aria-label="Search">
                                <button class="search-btn"><i class="iconfont icon-search"></i></button>
                            </div>
                        </form>
                    </li>
                    <% if(user_info.islogin){ %>
                    <li class="nav-item"><a class="btn btn-sm btn-outline-warning xiezuo" href="/writer"><i
                            class="iconfont icon-xiezuo"></i></a></li>
                    <li class="nav-item dropdown">
                        <a class="dropdown-toggle" href="javascript:;">
                            <div class="avatar-img" style="background-image:url('<%= user_info.avatar %>') "></div>
                        </a>
                        <div class="dropdown-menu">
                            <a class="dropdown-item" href="/user/<%= user_info.uid %>/article/all">我的主页</a>
                            <a class="dropdown-item" href="/user/settings/profile">设置</a>
                            <a class="dropdown-item" href="/esc_sign_in">退出</a>
                        </div>
                    </li>
                    <% } else { %>
                    <li class="nav-item"><a class="btn btn-info btn-sm sign-btn btn-block" href="/sign_in">登录</a></li>
                    <li class="nav-item"><a class="btn btn-danger btn-sm sign-btn btn-outline-warning"
                                            href="/sign_up">注册语雀</a>
                    </li>
                    <% } %>
                </ul>
            </div>
        </div>
    </header>
</div>
<!--header end-->
