.banner-lay {
  .nav-search-view {
    margin-bottom: 20px;
    .label-text {
      margin-right: 15px;
    }
    button {
      margin-right: 15px;
    }
  }
  .banner-img-preview {
    img {
      width: 100px;
      height: 50px;
    }
  }
}
