.admin-user {
  .table-right-btn {
    button {
      margin-left: 5px;
    }
  }
  .table-is-login {
    padding-left: 5px;
    .anticon-check-circle {
      color: #28a745;
    }
    .anticon-close-circle {
      color: #f46e65;
    }
  }

  .admin-user-create-btn {
    margin-bottom: 15px;
  }
}