<!--header.html start-->
<% include parts/header.html %>
<!--header.html end-->

<body class="black-theme">

  <!--header_view.html start-->
  <% include parts/header_view.html %>
  <!--header_view.html end-->


  <div id="index">
    <div class="container box-container">

      <div class="box-content">
        <h2 class="title">请点击按钮初始化项目</h2>
      </div>

      <div class="box-content">

        <p class="info">您的网站已经初始化完成，后续此处会开放开发辅助功能，敬请期待， </p>

      </div>

    </div>


  </div>


  <script>

    new Vue({
      el: '#index',
      data: {
        database: "",
        username: "",
        password: "",
        host: "",
        mysql_port: 3306,
      },
      created: function () {
        /* this.get_index_article_list()*/
      },
      methods: {
        init: function () {

        }
      }
    })
  </script>



</body>

<% include parts/footer.html %>