<!--header.html start-->
<% include parts/header.html %>
<!--header.html end-->

<body class="black-theme">

  <!--header_view.html start-->
  <% include parts/header_view.html %>
  <!--header_view.html end-->


  <div class="container box-container" id="init">

    <div class="box-content">
      <h2 class="title">欢迎</h2>
      <p class="info">欢迎使用Kite安装程序，在开始前，我们需要您数据库的一些信息，请准备一下信息，如果你愿意花时间，可以看看安装文档 <a href="">介绍文档</a> </p>
    </div>

    <div class="box-content">
      <h2 class="title">需要准备</h2>
      <p class="info">以下信息必须正确填入，否则安装程序无法进行 ，如需不填已备注，未备注则必填</p>
      <ul class="info-list">
        <li>1. 数据库名</li>
        <li>2. 数据库用户名</li>
        <li>3. 数据库密码</li>
        <li>4. 数据库主机</li>
        <li>5. 域名（如果是没有，或者只是开发，则不填）</li>
      </ul>
      <p class="info">如果填写错误，或者进行下一步失败，可以手动打开文件今天编辑</p>
    </div>

    <div class="box-content-footer center">
      <button class="box-btn big">现在开始 <i class="iconfont icon-more"></i></button>
    </div>

  </div>


  <script>

    new Vue({
      el: '#init',
      data: {

      },
      created: function () {
        /* this.get_index_article_list()*/
      },
      methods: {


      }
    })
  </script>



</body>

<% include parts/footer.html %>