.admin-article {
  .admin-article-bar {
    margin-bottom: 20px;
    .select-view {
      width: 150px;
    }
    button {
      margin: 0 5px;
    }
  }
  .article-title{
    color: #00bcd4;
    &:hover{
      color: #00D0B2;
    }
  }
}
