<div class="home-lay layout-aside">


    <div class="aside-component">
        <h3>写下你想说的</h3>
        <div class="issue-btn">
            <a href="/writer" class="btn-note" id="js-btn-note"><i class="iconfont icon-xiezuo"></i>写文章</a>
            <!--<span class="middle-line"></span>
            <a href="/daily_recommend" class="btn-dynamic js-publish-btn">发说说</a>-->
        </div>
    </div>


    <!--<div class="publish-article">
        <h3>写下你想说的</h3>
        <div class="issue-btn">
            <a href="/writer" class="btn-note" id="js-btn-note">写文章</a>
            <span class="middle-line"></span>
            <a href="/daily_recommend" class="btn-dynamic js-publish-btn">每日推荐</a>
        </div>
    </div>-->

    <a class="download clearfix">
        <img class="qrcode" src="/default/img/download.png" alt="Download index side qrcode">
        <div class="info">
            <div class="description">下载FATA手机App随时随地发现和创作内容</div>
        </div>
    </a>


    <div class="website-information">

        <ul class="more-list">
            <li class="item"><a href="/about" target="_blank">关于</a></li>
            <li class="item"><a href="/links" target="_blank">友情链接</a></li>
            <li class="item"><a href="/feedback" target="_blank">建议反馈</a></li>
            <li class="item"><a href="https://bd.juejin.im?utm_campaign=bd&amp;utm_source=web&amp;utm_medium=more"
                                target="_blank">商务合作</a></li>
        </ul>
        <ul class="more-list">
            <li class="item"><a href="http://www.miibeian.gov.cn" target="_blank">津ICP备15003202号-2</a>
            </li>
        </ul>
        <ul class="more-list">
            <li class="item"><a href="http://www.beian.gov.cn/portal/registerSystemInfo?recordcode=11010802026719"
                                target="_blank">京公网安备11010802026719号</a></li>
        </ul>
        <ul class="more-list">
            <li class="item"><a>©2018 掘金</a></li>
        </ul>

    </div>

</div>

