<!--header.html start-->
<% include parts/header.html %>
<!--header.html end-->

<body class="black-theme">

<!--header_view.html start-->
<% include parts/header_view.html %>
<!--header_view.html end-->


<div id="index">
    <div class="container box-container">

        <div class="box-content">
            <h2 class="title">项目初始化成功</h2>
        </div>

        <div class="box-content">

            <p class="info">您的网站已经初始化完成</p>
            <p class="info">现在请点击下方按钮进入网站首页，点击按钮后，本cli将关闭，cli服务仅在项目初始化时打开 </p>
            <p class="info">如果是项目初始化成功，请勿再次打开cli（初始化成功后，运行命令后将不会出现cli,直接出现首页）</p>

        </div>

        <div class="box-content-footer">
            <div class="container">
                <button class="box-btn big">点我重启项目</button>
            </div>
        </div>

    </div>


</div>


<script>

    new Vue({
        el: '#index',
        data: {
            database: "",
            username: "",
            password: "",
            host: "",
            mysql_port: 3306,
        },
        created: function () {
            /* this.get_index_article_list()*/
        },
        methods: {
            init: function () {

            }
        }
    })
</script>


</body>

<% include parts/footer.html %>
