/* header start*/
.navbar-header .navbar-brand {
  transition: none;
  background-size: contain;
  background-position: left center;
  background-repeat: no-repeat;
  text-indent: -9999px;
  display: block;
  position: absolute;
  width: 50px;
  height: 70px;
  line-height: 70px;
  padding: 0;
  z-index: 2;
  margin-left: 0 !important; }

.navbar-right {
  position: relative;
  line-height: 70px;
  height: 70px;
  margin-right: 0px;
  z-index: 2; }
  .navbar-right .btn-search {
    background: transparent;
    border: 0;
    vertical-align: middle;
    line-height: inherit;
    display: inline-block;
    padding-left: 20px; }
    .navbar-right .btn-search i {
      color: #333; }

.navbar {
  position: relative;
  background-color: #fff;
  border: 1px solid #f0f0f0;
  min-height: 70px;
  border-radius: 0;
  margin-bottom: 0;
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  backface-visibility: hidden;
  -webkit-transition: all 0.3s cubic-bezier(0.4, 0.01, 0.165, 0.99);
  -o-transition: all 0.3s cubic-bezier(0.4, 0.01, 0.165, 0.99);
  transition: all 0.3s cubic-bezier(0.4, 0.01, 0.165, 0.99);
  padding: 0;
  z-index: 11; }

.text-center {
  text-align: center; }

.black-theme .navbar {
  background-color: #ffffff;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 11; }

.navbar-nav {
  display: block;
  float: none;
  text-align: center; }
  .navbar-nav li {
    display: inline-block;
    position: relative;
    float: none; }
    .navbar-nav li a {
      display: block;
      position: relative;
      font-size: 14px;
      line-height: 70px;
      text-transform: uppercase;
      padding: 0 8px;
      margin: 0 5px; }
  .navbar-nav > li > a {
    color: #333; }

.black-theme .navbar-fixed-top {
  background-color: #fff !important;
  /*-webkit-box-shadow: 0 0 45px 0 rgba(16, 16, 16, .1);
  -moz-box-shadow: 0 0 45px 0 rgba(16, 16, 16, .1);
  box-shadow: 0 0 45px 0 rgba(16, 16, 16, .1);*/
  border: 1px solid #f0f0f0;
  min-height: 70px;
  border-radius: 0;
  margin-bottom: 0;
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  backface-visibility: hidden;
  -webkit-transition: all 0.3s cubic-bezier(0.4, 0.01, 0.165, 0.99);
  -o-transition: all 0.3s cubic-bezier(0.4, 0.01, 0.165, 0.99);
  transition: all 0.3s cubic-bezier(0.4, 0.01, 0.165, 0.99);
  padding: 0 !important;
  z-index: 11; }

/*header end*/
/*home-lay layout-header start*/
.home-lay.layout-header {
  margin-top: 0;
  position: relative; }
  .home-lay.layout-header .content {
    position: relative;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 300px;
    border-radius: 3px; }
  .home-lay.layout-header .title {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    position: absolute;
    z-index: 1;
    left: 0;
    right: auto;
    bottom: 0;
    width: 100%;
    padding: 35px 30px;
    background: linear-gradient(to bottom, transparent 0, rgba(0, 0, 0, 0.7) 100%); }
    .home-lay.layout-header .title h2 {
      color: #FFF; }
    .home-lay.layout-header .title .date span {
      position: relative;
      color: #BFBFBF;
      font-size: 14px;
      padding-right: 20px; }
      .home-lay.layout-header .title .date span:before {
        content: '';
        position: absolute;
        left: -15px;
        top: 40%;
        width: 4px;
        height: 4px;
        background: #BFBFBF; }
      .home-lay.layout-header .title .date span:first-child:before {
        display: none; }
      .home-lay.layout-header .title .date span i {
        font-size: 13px; }

.home-lay.layout-aside .board {
  margin-bottom: 30px; }
  .home-lay.layout-aside .board a {
    display: block;
    padding: 12px 15px;
    margin-bottom: 15px;
    border-radius: 3px; }
    .home-lay.layout-aside .board a:nth-child(1) {
      background: #B7D6EC; }
    .home-lay.layout-aside .board a:nth-child(2) {
      background: #FEBB50; }
    .home-lay.layout-aside .board a:nth-child(3) {
      background: #F69581; }
    .home-lay.layout-aside .board a:last-child {
      margin-bottom: 0; }

.home-lay.layout-aside .download {
  margin-bottom: 30px;
  display: block;
  padding: 10px 22px;
  width: 100%;
  border: 1px solid #f0f0f0;
  border-radius: 6px;
  background-color: #fff; }
  .home-lay.layout-aside .download .qrcode {
    width: 60px;
    height: 60px;
    opacity: .85; }
  .home-lay.layout-aside .download .info {
    display: inline-block;
    vertical-align: middle;
    margin-left: 7px; }

.home-lay.layout-aside .aside-widget {
  word-break: break-word; }
  .home-lay.layout-aside .aside-widget .widget-title {
    position: relative;
    font-size: 12px;
    text-transform: uppercase;
    color: #000;
    letter-spacing: 5px;
    padding-bottom: 15px;
    margin-bottom: 25px;
    border-bottom: 2px solid #f9f9f9; }
    .home-lay.layout-aside .aside-widget .widget-title::before {
      content: '';
      display: block;
      position: absolute;
      width: 30px;
      height: 2px;
      bottom: -2px;
      background: #131313; }

/*home-lay layout-header end*/
/*home-lay layout-type start*/
.home-lay.layout-type .box-content {
  width: 100%;
  display: block;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  padding: 20px 0;
  margin-top: 20px;
  color: #fff;
  text-align: center;
  border-radius: 3px; }

/*home-lay layout-type end*/
/*.home-lay layout-content start*/
.home-lay.layout-content {
  padding-top: 30px;
  padding-bottom: 60px;
  position: relative; }
  .home-lay.layout-content .filter-menu {
    margin-bottom: 30px; }
    .home-lay.layout-content .filter-menu > button {
      background: transparent none repeat scroll 0 0;
      border: 0 none;
      letter-spacing: 2px;
      margin: 0 2px;
      padding: 6px 15px;
      position: relative;
      text-transform: uppercase;
      font-size: 16px; }
      .home-lay.layout-content .filter-menu > button::before {
        background: #d7d7d7 none repeat scroll 0 0;
        content: "";
        height: 15px;
        position: absolute;
        right: -2px;
        top: 10px;
        transform: rotate(45deg);
        width: 1px; }
      .home-lay.layout-content .filter-menu > button::after {
        background: #000 none repeat scroll 0 0;
        bottom: -2px;
        content: "";
        height: 4px;
        left: 0;
        margin: auto;
        opacity: 0;
        position: absolute;
        right: 0;
        transition: all 0.3s ease 0s;
        width: 4px; }
      .home-lay.layout-content .filter-menu > button.active:after, .home-lay.layout-content .filter-menu > button:hover:after {
        opacity: 1; }
  .home-lay.layout-content .article-list {
    border-top: 1px solid rgba(178, 186, 194, 0.15); }
    .home-lay.layout-content .article-list > li {
      border-bottom: 1px solid rgba(178, 186, 194, 0.15); }
      .home-lay.layout-content .article-list > li .content-box {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        padding: 1.167rem 2rem;
        min-height: 5.75rem; }
        .home-lay.layout-content .article-list > li .content-box .info-box {
          display: -webkit-box;
          display: -ms-flexbox;
          display: flex;
          -webkit-box-flex: 1;
          -ms-flex: 1 1 auto;
          flex: 1 1 auto;
          -webkit-box-orient: vertical;
          -webkit-box-direction: normal;
          -ms-flex-direction: column;
          flex-direction: column;
          -webkit-box-pack: center;
          -ms-flex-pack: center;
          justify-content: center;
          min-width: 0; }
          .home-lay.layout-content .article-list > li .content-box .info-box .title-row {
            margin: .5rem 0 .8rem;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis; }
            .home-lay.layout-content .article-list > li .content-box .info-box .title-row .title {
              font-size: 16px;
              font-weight: 600;
              line-height: 1.2;
              color: #2e3135; }
          .home-lay.layout-content .article-list > li .content-box .info-box .meta-row {
            font-size: 1rem;
            color: #8f969c; }
            .home-lay.layout-content .article-list > li .content-box .info-box .meta-row .meta-list {
              display: -webkit-box;
              display: -ms-flexbox;
              display: flex;
              -webkit-box-align: baseline;
              -ms-flex-align: baseline;
              align-items: baseline;
              white-space: nowrap; }
              .home-lay.layout-content .article-list > li .content-box .info-box .meta-row .meta-list .item {
                display: inline-block;
                padding-right: 10px; }
                .home-lay.layout-content .article-list > li .content-box .info-box .meta-row .meta-list .item .category-title {
                  display: inline-block;
                  margin-right: 1.2rem;
                  padding: .38rem 0;
                  min-width: 4.5rem;
                  text-align: center;
                  line-height: 1;
                  color: #fff;
                  background-color: #c69f42;
                  border-radius: 2px; }
                  .home-lay.layout-content .article-list > li .content-box .info-box .meta-row .meta-list .item .category-title.frontend {
                    background-color: #56c4e1; }
        .home-lay.layout-content .article-list > li .content-box .thumb {
          position: relative;
          -webkit-box-flex: 0;
          -ms-flex: 0 0 auto;
          flex: 0 0 auto;
          width: 8.9rem;
          height: 5.75rem;
          margin-left: 2rem;
          background-color: #fff;
          border-radius: 2px;
          background-position: 50%;
          background-size: cover;
          background-repeat: no-repeat; }

/*.home-lay layout-content end*/
/*page start*/
.nav-links {
  text-align: center;
  margin: 30px 0; }

/*page start*/
/*article-lay layout-content start*/
.article-lay.layout-content {
  margin-top: 70px;
  padding-bottom: 50px; }
  .article-lay.layout-content .breadcrumbs {
    margin-top: 25px;
    margin-bottom: 25px; }
    .article-lay.layout-content .breadcrumbs span {
      color: #666;
      font-size: 12px; }
      .article-lay.layout-content .breadcrumbs span.sep i {
        font-size: 13px; }
  .article-lay.layout-content .lay-main {
    padding-right: 30px; }
    .article-lay.layout-content .lay-main .article-view .article-title {
      margin-bottom: 40px; }
      .article-lay.layout-content .lay-main .article-view .article-title > h1 {
        text-align: left;
        max-width: 100%;
        margin-top: 30px;
        margin-bottom: 20px;
        position: static;
        color: #48494d;
        font-size: 26px; }
      .article-lay.layout-content .lay-main .article-view .article-title .article-time {
        position: relative;
        bottom: auto;
        left: auto;
        right: auto;
        text-align: left;
        margin-bottom: 0; }
  .article-lay.layout-content .lay-sidebar .searchform {
    position: relative; }
    .article-lay.layout-content .lay-sidebar .searchform input[type="text"] {
      border: 1px solid #eee;
      padding: 10px;
      font-size: 12px;
      width: 100%; }
    .article-lay.layout-content .lay-sidebar .searchform input[type="submit"] {
      position: absolute;
      bottom: 0;
      right: 0;
      top: 0;
      border: 0;
      border-radius: 0;
      padding: 0 20px;
      color: #FFF;
      background-color: #212226;
      -webkit-transition: all .3s ease;
      -moz-transition: all .3s ease;
      -ms-transition: all .3s ease;
      -o-transition: all .3s ease;
      transition: all .3s ease; }

.widget {
  padding: 25px 0;
  word-break: break-word; }
  .widget .widget-title {
    position: relative;
    font-size: 12px;
    text-transform: uppercase;
    color: #000;
    letter-spacing: 5px;
    padding-bottom: 15px;
    margin-bottom: 25px;
    border-bottom: 2px solid #f9f9f9; }
    .widget .widget-title::before {
      content: '';
      display: block;
      position: absolute;
      width: 30px;
      height: 2px;
      bottom: -2px;
      background: #131313; }

.widget_tag_cloud .tagcloud a {
  font-size: 12px !important;
  line-height: 1;
  text-transform: uppercase;
  padding: 6px 12px 5px 12px;
  margin: 0 4px 8px 0;
  border: 1px solid #eee;
  display: inline-block; }

/*article-lay layout-content end*/
/*sign-in start*/
/*sign-in end*/
/*sign-up start*/
/*sign-up end*/
/*footer start*/
.footer {
  position: relative;
  padding-top: 55px;
  background-color: #f2f2f2; }
  .footer .footer-top {
    border-bottom: 1px solid #e1e1e1;
    padding-bottom: 30px; }
    .footer .footer-top .footer-widget .widget-title {
      position: relative;
      font-size: 14px;
      text-transform: uppercase;
      color: #000;
      letter-spacing: 5px;
      padding-bottom: 20px;
      margin-bottom: 30px; }
      .footer .footer-top .footer-widget .widget-title:before {
        content: '';
        display: block;
        position: absolute;
        width: 30px;
        height: 2px;
        bottom: 0;
        background: #131313; }
    .footer .footer-top .footer-widget .text-widget p {
      font-size: 13px; }
    .footer .footer-top .footer-widget ul li {
      display: inline-block;
      margin: 0 15px 10px 0; }
      .footer .footer-top .footer-widget ul li a {
        display: block;
        font-size: 13px;
        text-decoration: none;
        text-transform: capitalize; }
  .footer .footer-bottom .footer-copyright {
    padding-top: 30px;
    padding-bottom: 30px; }

/*footer end*/
