.navbar {
  &.navbar-default {
    background: #ffffff;
    border-color: #f0f0f0;
  }
  .navbar-brand {
    width: 50px;
    margin: 7px 50px 0 0;
  }
  .search {
    padding-left: 15px;
    form {
      position: relative;
      top: 14px;
    }
    .search-input {
      padding: 0 40px 0 20px;
      width: 160px;
      height: 38px;
      font-size: 14px;
      border: 1px solid #eee;
      border-radius: 40px;
      background: #eee;
      transition: width .5s;
      -moz-transition: width .5s;
      -webkit-transition: width .5s;
      -o-transition: width .5s;
      transition-delay: .1s;
      -moz-transition-delay: .1s;
      -webkit-transition-delay: .1s;
      -o-transition-delay: .1s;
    }
    .search-btn {
      position: absolute;
      top: 11px;
      right: 5px;
      width: 30px;
      height: 30px !important;
      line-height: normal !important;
      padding: 0 !important;
      color: #969696 !important;
      text-align: center;
    }
  }
  .navbar-nav {
    > li {
      > a {
        line-height: 35px;
      }
    }
  }
}

/*home-lay layout-header start*/

.home-lay {
  &.layout-header {
    margin-top: 0;
    position: relative;

    .content {
      position: relative;
      background-size: cover;
      background-repeat: no-repeat;
      background-position: center;
      height: 300px;
      border-radius: 3px;
    }
    .title {
      -moz-box-sizing: border-box;
      -webkit-box-sizing: border-box;
      box-sizing: border-box;
      position: absolute;
      z-index: 1;
      left: 0;
      right: auto;
      bottom: 0;
      width: 100%;
      padding: 35px 30px;
      background: linear-gradient(to bottom, transparent 0, rgba(0, 0, 0, 0.7) 100%);
      h2 {
        color: #FFF;
      }
      .date {
        span {
          position: relative;
          color: #BFBFBF;
          font-size: 14px;
          padding-right: 20px;
          &:before {
            content: '';
            position: absolute;
            left: -15px;
            top: 40%;
            width: 4px;
            height: 4px;
            background: #BFBFBF;
          }
          &:first-child:before {
            display: none;
          }
          i {
            font-size: 13px;
          }
        }
      }
    }
  }
}

.home-lay {
  &.layout-aside {
    .board {
      margin-bottom: 30px;
      a {
        display: block;
        padding: 12px 15px;
        margin-bottom: 15px;
        border-radius: 3px;
        &:nth-child(1) {
          background: #B7D6EC;
        }
        &:nth-child(2) {
          background: #FEBB50;
        }
        &:nth-child(3) {
          background: #F69581;
        }
        &:last-child {
          margin-bottom: 0;
        }
      }
    }

    .download {
      margin-bottom: 30px;
      display: block;
      padding: 10px 22px;
      width: 100%;
      border: 1px solid #f0f0f0;
      border-radius: 6px;
      background-color: #fff;
      .qrcode {
        width: 60px;
        height: 60px;
        opacity: .85;
      }
      .info {
        display: inline-block;
        vertical-align: middle;
        margin-left: 7px;
      }
    }

    .aside-widget {
      word-break: break-word;
      .widget-title {
        position: relative;
        font-size: 12px;
        text-transform: uppercase;
        color: #000;
        letter-spacing: 5px;
        padding-bottom: 15px;
        margin-bottom: 25px;
        border-bottom: 2px solid #f9f9f9;
        &::before {
          content: '';
          display: block;
          position: absolute;
          width: 30px;
          height: 2px;
          bottom: -2px;
          background: #131313;
        }
      }
    }
  }
}

/*home-lay layout-header end*/

/*home-lay layout-type start*/
.home-lay {
  &.layout-type {
    .box-content {
      width: 100%;
      display: block;
      background-size: cover;
      background-repeat: no-repeat;
      background-position: center;
      padding: 20px 0;
      margin-top: 20px;
      color: #fff;
      text-align: center;
      border-radius: 3px;
    }
  }
}

/*home-lay layout-type end*/

/*.home-lay layout-content start*/
.home-lay {
  &.layout-content {
    padding-top: 30px;
    padding-bottom: 60px;
    position: relative;
    .filter-menu {
      margin-bottom: 30px;
      > button {
        background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
        border: 0 none;
        letter-spacing: 2px;
        margin: 0 2px;
        padding: 6px 15px;
        position: relative;
        text-transform: uppercase;
        font-size: 16px;
        &::before {
          background: #d7d7d7 none repeat scroll 0 0;
          content: "";
          height: 15px;
          position: absolute;
          right: -2px;
          top: 10px;
          transform: rotate(45deg);
          width: 1px;
        }
        &::after {
          background: #000 none repeat scroll 0 0;
          bottom: -2px;
          content: "";
          height: 4px;
          left: 0;
          margin: auto;
          opacity: 0;
          position: absolute;
          right: 0;
          transition: all 0.3s ease 0s;
          width: 4px;
        }
        &.active:after,
        &:hover:after {
          opacity: 1;
        }
      }
    }
    .article-list {
      border-top: 1px solid rgba(178, 186, 194, .15);
      > li {
        border-bottom: 1px solid rgba(178, 186, 194, .15);
      }
    }
  }
}

/*.home-lay layout-content end*/

/*article  content-box start*/
.content-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  padding: 1.167rem 0;
  min-height: 5.75rem;
  .info-box {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-flex: 1;
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    min-width: 0;
    .title-row {
      margin: .5rem 0 .8rem;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
      .title {
        font-size: 16px;
        font-weight: 600;
        line-height: 1.2;
        color: #2e3135;
      }
    }
    .content-text {
      font-size: 14px;
      margin-bottom: 10px;
    }
    .meta-row {
      font-size: 1rem;
      color: #8f969c;
      .meta-list {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: baseline;
        -ms-flex-align: baseline;
        align-items: baseline;
        white-space: nowrap;
        .item {
          display: inline-block;
          padding-right: 10px;
          .category-title {
            display: inline-block;
            margin-right: 1.2rem;
            padding: .38rem 0;
            min-width: 4.5rem;
            text-align: center;
            line-height: 1;
            color: #fff;
            background-color: #c69f42;
            border-radius: 2px;
            &.frontend {
              background-color: #56c4e1;
            }
          }
        }
      }
    }
  }
  .thumb {
    position: relative;
    -webkit-box-flex: 0;
    -ms-flex: 0 0 auto;
    flex: 0 0 auto;
    width: 8.9rem;
    height: 5.75rem;
    margin-left: 2rem;
    background-color: #fff;
    border-radius: 2px;
    background-position: 50%;
    background-size: cover;
    background-repeat: no-repeat;
  }
  &.article-list {
    padding-left: 0;
    padding-right: 0;
  }
}

/*article  content-box end*/

/*page start*/
.nav-links {
  text-align: center;
  margin: 30px 0;
}

/*page start*/

/*article-lay layout-content start*/
.article-lay.layout-content {
  margin-top: 70px;
  padding-bottom: 50px;
  .breadcrumbs {
    margin-top: 25px;
    margin-bottom: 25px;
    span {
      color: #666;
      font-size: 12px;
      &.sep {
        i {
          font-size: 13px;
        }
      }
    }
  }
  .lay-main {
    padding-right: 30px;
    .article-view {
      .article-title {
        margin-bottom: 40px;
        > h1 {
          text-align: left;
          max-width: 100%;
          margin-top: 30px;
          margin-bottom: 20px;
          position: static;
          color: #48494d;
          font-size: 26px;
        }
        .article-time {
          position: relative;
          bottom: auto;
          left: auto;
          right: auto;
          text-align: left;
          margin-bottom: 0;
        }
      }
    }
  }
  .lay-sidebar {
    .searchform {
      position: relative;
      input[type="text"] {
        border: 1px solid #eee;
        padding: 10px;
        font-size: 12px;
        width: 100%;
      }
      input[type="submit"] {
        position: absolute;
        bottom: 0;
        right: 0;
        top: 0;
        border: 0;
        border-radius: 0;
        padding: 0 20px;
        color: #FFF;
        background-color: #212226;
        -webkit-transition: all .3s ease;
        -moz-transition: all .3s ease;
        -ms-transition: all .3s ease;
        -o-transition: all .3s ease;
        transition: all .3s ease;
      }
    }
  }
}

.widget {
  padding: 25px 0;
  word-break: break-word;
  .widget-title {
    position: relative;
    font-size: 12px;
    text-transform: uppercase;
    color: #000;
    letter-spacing: 5px;
    padding-bottom: 15px;
    margin-bottom: 25px;
    border-bottom: 2px solid #f9f9f9;
    &::before {
      content: '';
      display: block;
      position: absolute;
      width: 30px;
      height: 2px;
      bottom: -2px;
      background: #131313;
    }
  }
}

.widget_tag_cloud .tagcloud a {
  font-size: 12px !important;
  line-height: 1;
  text-transform: uppercase;
  padding: 6px 12px 5px 12px;
  margin: 0 4px 8px 0;
  border: 1px solid #eee;
  display: inline-block;
}

/*article-lay layout-content end*/

/*article-list-lay layout-content start*/
.article-list-lay.layout-content {
  margin-top: 70px;
  padding-bottom: 50px;
  .aside {
    position: fixed;
    top: 0;
    bottom: 0;
    margin: 86px 0 0;
    padding: 0 0 30px;
    width: 280px;
    overflow: auto;
    border-right: 1px solid #f0f0f0;
    .menu {
      li {
        line-height: 20px;
        a {
          padding: 10px 15px;
          font-size: 15px;
          display: block;
        }
      }
    }
  }
  .article-list {
    .main-top {
      margin-top: 30px;
      margin-bottom: 35px;
      .avatar-collection {
        float: left;
        width: 80px;
        height: 80px;
        img {
          width: 100%;
          height: 100%;
          border: 1px solid #ddd;
          border-radius: 10%;
        }
      }
      .title {
        padding: 10px 0 0 100px;
        .name {
          display: inline;
          font-size: 21px;
          font-weight: 700;
          vertical-align: middle;
        }
      }
      .info {
        margin-top: 10px;
        padding-left: 100px;
        font-size: 14px;
        color: #969696;
      }
    }
    .trigger-menu {
      margin-bottom: 20px;
      border-bottom: 1px solid #f0f0f0;
      font-size: 0;
      list-style: none;
      li {
        position: relative;
        display: inline-block;
        padding: 8px 0;
        margin-bottom: -1px;
        a {
          padding: 13px 20px;
          font-size: 15px;
          font-weight: 700;
          color: #969696;
          line-height: 25px;
        }
        &.active {
          border-bottom: 2px solid #646464;
        }
      }
    }
    .list-container {
      > ul {
        > li {
          border-bottom: 1px solid rgba(178, 186, 194, 0.15);
        }
      }
    }
  }

}

/*article-list-lay layout-content end*/

/*sign-in start*/
.sign-lay.layout-content {
  text-align: center;
  font-size: 14px;
  background-color: #f1f1f1;
  position: relative;
  -webkit-box-flex: 1;
  -ms-flex: 1;
  flex: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  border-radius: 2px;
  min-height: 688px;
  height: 100%;
  box-sizing: border-box;
  .sign-view {
    width: 400px;
    margin: 0 auto;
    text-align: center;
    padding: 50px 50px 30px;
    .title {
      margin: 0 auto 50px;
      padding: 10px;
      font-weight: 400;
      color: #969696;
      a {
        font-size: 20px;
      }
      b {
        padding: 10px;
      }
      .active {
        font-weight: 700;
        color: #ea6f5a;
        border-bottom: 2px solid #ea6f5a;
        padding-bottom: 10px;
      }
    }
    .remember-btn {
      float: left;
      margin: 15px 0;
      span {
        margin-left: 5px;
        font-size: 14px;
        color: #969696;
        vertical-align: middle;
      }
    }
    .input-prepend {
      position: relative;
      input {
        width: 100%;
        height: 50px;
        margin-bottom: 0;
        padding: 4px 12px 4px 42px;
        border: none;
        border-bottom: 1px solid #ebebeb;
        background-color: #ffffff;
        vertical-align: middle;
        font-size: 14px;
      }
      i {
        position: absolute;
        top: 11px;
        left: 10px;
        font-size: 18px;
        color: #969696;
      }
    }
    .email-view {
      .send-email-input {
        padding-right: 92px;
      }
      .btn-send-email-code {
        position: absolute;
        right: 0;
        font-size: 12px;
        bottom: 10px;
      }
    }
    .email-view-code{
      text-align: left;
      display: none;
      .send-email-code{
        width: 170px;
      }
    }
    .sign-in-button,
    .sign-up-button {
      margin-top: 20px;
      width: 100%;
      padding: 9px 18px;
      font-size: 18px;
      border: none;
      border-radius: 25px;
      color: #fff;
      background: #42c02e;
      cursor: pointer;
      outline: none;
      display: block;
      clear: both;
    }
    #sign-in-form-submit-btn {
      background: #3194d0;
    }
    .more-sign {
      margin-top: 50px;
      h6 {
        margin: 0 0 10px;
        font-size: 12px;
        color: #b5b5b5;
      }
      li {
        display: inline-block;
        margin: 0 5px;
        a {
          width: 50px;
          height: 50px;
          line-height: 50px;
          display: block;
        }
        i {
          font-size: 25px;
        }

        .weibo {
          i {
            color: #e05244;
          }
        }

        .weixin {
          i {
            color: #00bb29;
          }
        }

        .qq {
          i {
            color: #498ad5;
          }
        }
      }

    }
  }
}

/*sign-in end*/

/*writer-lay layout-content start*/
.writer-lay.layout-content {
  .writer-header {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    padding: 0 1.4rem;
    height: 64px;
    background-color: #fff;
    border-bottom: 1px solid #ddd;
    z-index: 100;
    .container-fluid {
      width: 100%;
    }
    .writer-input-title {
      width: 100%;
      border: none;
      font-size: 28px;
      font-weight: bold;
    }
    .writer-right {
      li {
        display: inline-block;
        .item {
          line-height: 64px;
          display: block;
          padding: 0 15px;
        }
        &.return-home {
          i {
            font-size: 20px;
          }

        }
        .article-type {
          height: 35px;
          vertical-align: top;
        }
        .article-category {
          height: 35px;
          vertical-align: top;
        }
        .btn {
          margin-top: 6px;
        }
        .add-cover-img {
        }
        .save-draft {
          background: #ea6f5a;
          color: #ffffff;
        }
        .post-article {
          background: #00bcd4;
          color: #ffffff;
        }
      }
    }
  }
  .writer-content {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    position: absolute;
    top: 5.334rem;
    left: 0;
    right: 0;
    bottom: 0;
    overflow: hidden;
    .writer-box,
    .content-preview {
      -webkit-box-flex: 1;
      -ms-flex: 1 1 50%;
      flex: 1 1 50%;
      height: 100%;
      overflow-y: auto;
    }
    .writer-box {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -ms-flex-direction: column;
      flex-direction: column;
      background-color: #f8f9fa;
      position: relative;
      height: 100%;
      .writer-box-title {
        height: 50px;
        background: #e6e6e6;
        padding-left: 15px;
        width: 100%;
        li {
          display: inline-block;
          line-height: 50px;
          i {
            padding: 0 15px;
            font-size: 20px;
          }
        }
      }
      .write-textarea {
        width: 100%;
        height: calc(100% - 50px);
        padding: 40px 40px 80px;
        margin-bottom: 0;
        resize: none;
        color: #333;
        background-color: transparent;
        font-size: 18px;
        font-weight: 400;
        line-height: 30px;
        border: none;
        outline: none;
        -webkit-appearance: none;
        overflow: auto;
      }
    }
    .content-preview {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -ms-flex-direction: column;
      flex-direction: column;
      position: relative;
      background-color: #fff;
      overflow: hidden;
      border-left: 1px solid #ddd;
      padding: 90px 40px 80px;
    }
  }
}

/*writer-lay layout-content end*/

/*footer start*/
.footer {
  position: relative;
  padding-top: 55px;
  background-color: #f2f2f2;
  .footer-top {
    border-bottom: 1px solid #e1e1e1;
    padding-bottom: 30px;
    .footer-widget {
      .widget-title {
        position: relative;
        font-size: 14px;
        text-transform: uppercase;
        color: #000;
        letter-spacing: 5px;
        padding-bottom: 20px;
        margin-bottom: 30px;
        &:before {
          content: '';
          display: block;
          position: absolute;
          width: 30px;
          height: 2px;
          bottom: 0;
          background: #131313;
        }
      }
      .text-widget {
        p {
          font-size: 13px;
        }
      }
      ul li {
        display: inline-block;
        margin: 0 15px 10px 0;
        a {
          display: block;
          font-size: 13px;
          text-decoration: none;
          text-transform: capitalize;
        }
      }
    }
  }
  .footer-bottom {
    .footer-copyright {
      padding-top: 30px;
      padding-bottom: 30px;
    }
  }
}

/*footer end*/

/*text view start*/
body .box-article-view {
  h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
    font-family: inherit;
    font-weight: 300;
    line-height: 1.1;
    color: inherit
  }

  h1 small, h2 small, h3 small, h4 small, h5 small, h6 small, .h1 small, .h2 small, .h3 small, .h4 small, .h5 small, .h6 small, h1 .small, h2 .small, h3 .small, h4 .small, h5 .small, h6 .small, .h1 .small, .h2 .small, .h3 .small, .h4 .small, .h5 .small, .h6 .small {
    font-weight: normal;
    line-height: 1;
    color: #999
  }

  h4, h5, h6 {
    margin-top: 10.5px;
    margin-bottom: 10.5px
  }

  h1, .h1 {
    font-size: 39px
  }

  h2, .h2 {
    font-size: 32px
  }

  h3, .h3 {
    font-size: 26px
  }

  h4, .h4 {
    font-size: 19px
  }

  h5, .h5 {
    font-size: 15px
  }

  h6, .h6 {
    font-size: 13px
  }

  p {
    margin: 0 0 10.5px
  }

  h1 {
    font-size: 2.6em
  }

  h2 {
    font-size: 2.15em
  }

  h3 {
    font-size: 1.7em
  }

  h4 {
    font-size: 1.25em
  }

  h5 {
    font-size: 1em
  }

  h6 {
    font-size: .85em
  }

  img {
    max-width: 100%;
    height: auto;
    display: block;
    margin: 15px auto;
  }

  h1, h2, h3, h4, h5, h6 {
    font-weight: bold;
    margin: 1.2em 0 .6em 0
  }

  fieldset {
    padding: 0;
    margin: 0;
    border: 0
  }

  legend {
    display: block;
    width: 100%;
    padding: 0;
    margin-bottom: 21px;
    font-size: 22.5px;
    line-height: inherit;
    color: #333;
    border: 0;
    border-bottom: 1px solid #e5e5e5
  }

  label {
    display: inline-block;
    margin-bottom: 5px;
    font-weight: bold
  }

  hr {
    margin-top: 21px;
    margin-bottom: 21px;
    border: 0;
    border-top: 1px solid rgba(102, 128, 153, 0.1)
  }

  hr {
    margin: 2em 0;
  }

  ul, ol {
    margin-top: 0;
    margin-bottom: 10.5px;
  }

  ul, ol {
    margin-bottom: 1.1em;
  }

  li, p {
    line-height: 1.6;
  }

  small, .small {
    font-size: 85%
  }

  blockquote {
    padding: 10.5px 21px;
    margin: 0 0 21px;
    border-left: 5px solid rgba(102, 128, 153, 0.075)
  }

  blockquote p {
    font-size: 18.75px;
    font-weight: 300;
    line-height: 1.25
  }

  blockquote p:last-child {
    margin-bottom: 0
  }

  blockquote small, blockquote .small {
    display: block;
    line-height: 1.45;
    color: #999
  }

  blockquote small:before, blockquote .small:before {
    content: '\2014 \00A0'
  }

  blockquote.pull-right {
    padding-right: 15px;
    padding-left: 0;
    border-right: 5px solid rgba(102, 128, 153, 0.075);
    border-left: 0
  }

  blockquote.pull-right p, blockquote.pull-right small, blockquote.pull-right .small {
    text-align: right
  }

  blockquote.pull-right small:before, blockquote.pull-right .small:before {
    content: ''
  }

  blockquote.pull-right small:after, blockquote.pull-right .small:after {
    content: '\00A0 \2014'
  }

  blockquote:before, blockquote:after {
    content: ""
  }

  blockquote {
    border-left-width: 10px;
    background-color: rgba(102, 128, 153, 0.05);
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    padding: 15px 20px;
    font-style: normal;
    &:after {
      margin-left: 0;
    }
  }

  blockquote p {
    margin-bottom: 1.1em;
    font-size: 1em;
    line-height: 1.45
  }

  blockquote ul:last-child, blockquote ol:last-child {
    margin-bottom: 0
  }

  kbd {
    padding: .1em .6em;
    border: 1px solid rgba(44, 63, 81, 0.25);
    -webkit-box-shadow: 0 1px 0 rgba(44, 63, 81, 0.25);
    box-shadow: 0 1px 0 rgba(44, 63, 81, 0.25);
    font-size: .7em;
    font-family: sans-serif;
    background-color: #fff;
    color: #333;
    border-radius: 3px;
    display: inline-block;
    margin: 0 .1em;
    white-space: nowrap
  }

  blockquote h1, blockquote h2, blockquote h3, blockquote h4, blockquote h5, blockquote h6 {
    font-weight: bold;
    margin: .6em 0
  }

  /* start*/

  table {
    width: 700px;
    padding: 0;
    margin: 0;
    border-left: 1px solid #bfcbd9;
  }

  th {
    font-size: 12px;
    color: #4f6b72;
    border-right: 1px solid #C1DAD7;
    border-bottom: 1px solid #C1DAD7;
    border-top: 1px solid #C1DAD7;
    letter-spacing: 2px;
    text-transform: uppercase;
    text-align: left;
    padding: 6px 6px 6px 12px;

  }

  td {
    border-right: 1px solid #bfcbd9;
    border-bottom: 1px solid #bfcbd9;;
    background: #fff;
    font-size: 11px;
    padding: 6px 6px 6px 12px;
    color: #4f6b72;
  }

  /*table end*/

  /*code start*/

  p, pre, pre.prettyprint, blockquote {
    margin: 0 0 1.1em;
  }

  pre {
    white-space: pre-wrap;
    word-wrap: break-word;
    display: block;
  }

  code, pre {
    font-size: .9em;
  }

  pre, pre.prettyprint {
    text-align: start;
    border: 0;
    border-radius: 5px;
    word-break: break-all;
  }

  pre code, pre.prettyprint code {
    padding: 1.3em 2em !important;
  }

  pre code {
    font-size: inherit;
    white-space: pre-wrap;
    background: #23241f;
    display: block;
    color: #ffffff;
    border-radius: 3px;
  }

  code, kbd, pre, samp {
    font-family: Menlo, Monaco, Consolas, Courier New, monospace;
  }

  code, kbd, pre, samp {
    font-family: Menlo, Monaco, Consolas, Courier New, monospace;
    font-size: 1em;
  }
  /*code border end*/

  /*code start*/
  .hljs {
    display: block;
    overflow-x: auto;
    padding: 0.5em;
    background: #23241f
  }
  .hljs, .hljs-tag, .hljs-subst {
    color: #f8f8f2
  }
  .hljs-strong, .hljs-emphasis {
    color: #a8a8a2
  }
  .hljs-bullet, .hljs-quote, .hljs-number, .hljs-regexp, .hljs-literal, .hljs-link {
    color: #ae81ff
  }
  .hljs-code, .hljs-title, .hljs-section, .hljs-selector-class {
    color: #a6e22e
  }
  .hljs-strong {
    font-weight: bold
  }
  .hljs-emphasis {
    font-style: italic
  }
  .hljs-keyword, .hljs-selector-tag, .hljs-name, .hljs-attr {
    color: #f92672
  }
  .hljs-symbol, .hljs-attribute {
    color: #66d9ef
  }
  .hljs-params, .hljs-class .hljs-title {
    color: #f8f8f2
  }
  .hljs-string, .hljs-type, .hljs-built_in, .hljs-builtin-name, .hljs-selector-id, .hljs-selector-attr, .hljs-selector-pseudo, .hljs-addition, .hljs-variable, .hljs-template-variable {
    color: #e6db74
  }
  .hljs-comment, .hljs-deletion, .hljs-meta {
    color: #75715e
  }
  /*code end*/
}