<!--header.ejs start-->
<% include parts/header.ejs %>
<!--header.ejs start-->

<body class="home black-theme">

<!--header_view.ejs start-->
<% include parts/header_view.ejs %>
<!--header_view.ejs end-->

<!--home-lay layout-header start-->
<section class="home-lay layout-header" style="background-image: url('/default/img/default-header.jpg')">
    <div class="container">
        <div class="row mg-0">
            <div class="item item-left col-xs-12 col-sm-6 col-md-6 pd-0">
                <a href="http://cosy.iwpzt.com/yi-bai-nian-lai-quan-qiu-zui-da-yi-ke-zuan-shi-bei-mai-diao-shou-jia-5300-wan-mei-yuan.html"
                   target="_blank">
                    <div class="content"
                         style="background-image: url('/default/img/h1-slide-2.jpg');">
                        <div class="title">
                            <h2>文章样式3: 全球最大一颗钻石卖掉，售价 5300 万美元</h2>
                            <div class="date hidden-xs">
                                <span class="u-categories">商业</span>
                                <span class="u-time">2017-09-29</span>
                                <span class="u-comment"><i class="iconfont icon-good"></i> 18</span>
                                <span class="u-like"><i class="iconfont icon-favorites"></i> 17</span>
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="item item-right col-xs-6 col-sm-3 col-md-3 pd-0">
                <a href="http://cosy.iwpzt.com/yi-fen-ying-xiang-li-ying-xiao-jiang-gong-bu-ban-gei-le-yi-chuan-shou-lian-yi-suo-xue-xiao-he-yi-zuo-diao-su-niu-yue-guang-gao-zhou.html">
                    <div class="content"
                         style="background-image: url('/default/img/photo-1494919997560-caff2f1cff75.jpeg');">
                        <div class="title">
                            <h2>一份“影响力营销奖”公布，颁给了一串手链、一所学校和一座雕塑｜纽约广告周</h2>
                            <div class="date hidden-xs hidden-sm">
                                <span class="u-categories">商业</span>
                                <span class="u-time"> 2017-09-28</span>
                                <span class="u-like"><i class="iconfont icon-favorites"></i> 5</span>
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="item item-right col-xs-6 col-sm-3 col-md-3 pd-0">
                <a href="http://cosy.iwpzt.com/iphone-8-mai-le-duo-shao-ge-fang-gei-chu-liao-bu-tong-de-shuo-fa.html">
                    <div class="content"
                         style="background-image: url('/default/img/StockSnap_EKSSG14XUN.jpg');">
                        <div class="title">
                            <h2>iPhone 8 卖了多少？各方给出了不同的说法</h2>
                            <div class="date hidden-xs hidden-sm">
                                <span class="u-categories">商业</span>
                                <span class="u-time"> 2017-09-28</span>
                                <span class="u-like"><i class="iconfont icon-favorites"></i> 5</span>
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="item item-right col-xs-6 col-sm-3 col-md-3 pd-0">
                <a href="http://cosy.iwpzt.com/iphone-8-ling-jian-cheng-ben-zeng-jia-zui-hou-ping-guo-yong-zhang-jia-wei-chi-le-li-run-lv.html">
                    <div class="content"
                         style="background-image: url('/default/img/2017100409280579-e1512812015262.jpeg');">
                        <div class="title">
                            <h2>iPhone 8 零件成本增加，最后苹果用涨价维持了利润率</h2>
                            <div class="date hidden-xs hidden-sm">
                                <span class="u-categories">商业</span>
                                <span class="u-time"> 2017-09-27</span>
                                <span class="u-like"><i class="iconfont icon-favorites"></i> 7</span>
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="item item-right col-xs-6 col-sm-3 col-md-3 pd-0">
                <a href="http://cosy.iwpzt.com/you-165-nian-li-shi-de-lun-dun-xia-shui-dao-li-dou-cang-zhe-shen-me.html">
                    <div class="content"
                         style="background-image: url('/default/img/2017100416064445-e1512811758795.jpeg');">
                        <div class="title">
                            <h2>有 165 年历史的伦敦下水道里都藏着什么？</h2>
                            <div class="date hidden-xs hidden-sm">
                                <span class="u-categories">短片</span>
                                <span class="u-time"> 2017-09-27</span>
                                <span class="u-like"><i class="iconfont icon-favorites"></i> 3</span>
                            </div>
                        </div>
                    </div>
                </a>
            </div>
        </div>
    </div>
</section>
<!--home-lay layout-header end-->

<!--home-lay layout-content start-->
<section class="home-lay layout-content bg-grey ">
    <div class="container">
        <div class="filter-menu text-center">
            <button class="active">最新</button>
            <button data-cid="945">一图</button>
            <button data-cid="21">商业</button>
            <button data-cid="943">短片</button>
            <button data-cid="1">智能</button>
        </div>
        <div class="row">
            <div class="col-grid col-xs-12 col-sm-4 col-md-4">
                <article class="layout-card post post-grid">
                    <div class="image">
                        <a href="http://cosy.iwpzt.com/wu-xing-tui-jian-chao-qiang-ke-huan-jia-pian-huai-jiu-zhe.html">
                            <img src="http://cosy.iwpzt.com/wp-content/themes/2018010916203677/timthumb.php?src=http://cosy.iwpzt.com/wp-content/uploads/2017/10/2017100413401966-e1512812018107.jpeg&amp;h=384.7&amp;w=480&amp;zc=1&amp;a=c&amp;q=100&amp;s=1"
                                 class="timthumb_php lazyloaded"
                                 data-src="http://cosy.iwpzt.com/wp-content/themes/2018010916203677/timthumb.php?src=http://cosy.iwpzt.com/wp-content/uploads/2017/10/2017100413401966-e1512812018107.jpeg&amp;h=384.7&amp;w=480&amp;zc=1&amp;a=c&amp;q=100&amp;s=1"
                                 alt="文章样式6: 五星推荐超强科幻佳片《怀旧者》">
                            <div class="view-icon"><span><i class="icon icon-control-play"></i></span></div>
                        </a>
                    </div>
                    <div class="content">
                        <div class="meta hidden-xs">
                            <a href="http://cosy.iwpzt.com/category/duan-pian">短片</a>
                        </div>
                        <h2 class="title">
                            <a href="http://cosy.iwpzt.com/wu-xing-tui-jian-chao-qiang-ke-huan-jia-pian-huai-jiu-zhe.html">文章样式6:
                                五星推荐超强科幻佳片《怀旧者》</a>
                        </h2>
                        <div class="foot clearfix">
                            <span class="u-time">2017-10-04</span>
                            <span class="u-view"><i class="icon icon-eye"></i>1,965</span>
                            <span class="u-comment"><i class="icon icon-bubble"></i>1</span>
                            <span class="u-like"><i class="icon icon-heart"></i>16</span>
                        </div>
                    </div>
                </article>
            </div>
            <div class="col-grid col-xs-12 col-sm-4 col-md-4">
                <article class="layout-card post post-grid">
                    <div class="image">
                        <a href="http://cosy.iwpzt.com/wu-xing-tui-jian-chao-qiang-ke-huan-jia-pian-huai-jiu-zhe.html">
                            <img src="http://cosy.iwpzt.com/wp-content/themes/2018010916203677/timthumb.php?src=http://cosy.iwpzt.com/wp-content/uploads/2017/10/2017100413401966-e1512812018107.jpeg&amp;h=384.7&amp;w=480&amp;zc=1&amp;a=c&amp;q=100&amp;s=1"
                                 class="timthumb_php lazyloaded"
                                 data-src="http://cosy.iwpzt.com/wp-content/themes/2018010916203677/timthumb.php?src=http://cosy.iwpzt.com/wp-content/uploads/2017/10/2017100413401966-e1512812018107.jpeg&amp;h=384.7&amp;w=480&amp;zc=1&amp;a=c&amp;q=100&amp;s=1"
                                 alt="文章样式6: 五星推荐超强科幻佳片《怀旧者》">
                            <div class="view-icon"><span><i class="icon icon-control-play"></i></span></div>
                        </a>
                    </div>
                    <div class="content">
                        <div class="meta hidden-xs">
                            <a href="http://cosy.iwpzt.com/category/duan-pian">短片</a>
                        </div>
                        <h2 class="title">
                            <a href="http://cosy.iwpzt.com/wu-xing-tui-jian-chao-qiang-ke-huan-jia-pian-huai-jiu-zhe.html">文章样式6:
                                五星推荐超强科幻佳片《怀旧者》</a>
                        </h2>
                        <div class="foot clearfix">
                            <span class="u-time">2017-10-04</span>
                            <span class="u-view"><i class="icon icon-eye"></i>1,965</span>
                            <span class="u-comment"><i class="icon icon-bubble"></i>1</span>
                            <span class="u-like"><i class="icon icon-heart"></i>16</span>
                        </div>
                    </div>
                </article>
            </div>
            <div class="col-grid col-xs-12 col-sm-4 col-md-4">
                <article class="layout-card post post-grid">
                    <div class="image">
                        <a href="http://cosy.iwpzt.com/wu-xing-tui-jian-chao-qiang-ke-huan-jia-pian-huai-jiu-zhe.html">
                            <img src="http://cosy.iwpzt.com/wp-content/themes/2018010916203677/timthumb.php?src=http://cosy.iwpzt.com/wp-content/uploads/2017/10/2017100413401966-e1512812018107.jpeg&amp;h=384.7&amp;w=480&amp;zc=1&amp;a=c&amp;q=100&amp;s=1"
                                 class="timthumb_php lazyloaded"
                                 data-src="http://cosy.iwpzt.com/wp-content/themes/2018010916203677/timthumb.php?src=http://cosy.iwpzt.com/wp-content/uploads/2017/10/2017100413401966-e1512812018107.jpeg&amp;h=384.7&amp;w=480&amp;zc=1&amp;a=c&amp;q=100&amp;s=1"
                                 alt="文章样式6: 五星推荐超强科幻佳片《怀旧者》">
                            <div class="view-icon"><span><i class="icon icon-control-play"></i></span></div>
                        </a>
                    </div>
                    <div class="content">
                        <div class="meta hidden-xs">
                            <a href="http://cosy.iwpzt.com/category/duan-pian">短片</a>
                        </div>
                        <h2 class="title">
                            <a href="http://cosy.iwpzt.com/wu-xing-tui-jian-chao-qiang-ke-huan-jia-pian-huai-jiu-zhe.html">文章样式6:
                                五星推荐超强科幻佳片《怀旧者》</a>
                        </h2>
                        <div class="foot clearfix">
                            <span class="u-time">2017-10-04</span>
                            <span class="u-view"><i class="icon icon-eye"></i>1,965</span>
                            <span class="u-comment"><i class="icon icon-bubble"></i>1</span>
                            <span class="u-like"><i class="icon icon-heart"></i>16</span>
                        </div>
                    </div>
                </article>
            </div>
            <div class="col-grid col-xs-12 col-sm-4 col-md-4">
                <article class="layout-card post post-grid">
                    <div class="image">
                        <a href="http://cosy.iwpzt.com/wu-xing-tui-jian-chao-qiang-ke-huan-jia-pian-huai-jiu-zhe.html">
                            <img src="http://cosy.iwpzt.com/wp-content/themes/2018010916203677/timthumb.php?src=http://cosy.iwpzt.com/wp-content/uploads/2017/10/2017100413401966-e1512812018107.jpeg&amp;h=384.7&amp;w=480&amp;zc=1&amp;a=c&amp;q=100&amp;s=1"
                                 class="timthumb_php lazyloaded"
                                 data-src="http://cosy.iwpzt.com/wp-content/themes/2018010916203677/timthumb.php?src=http://cosy.iwpzt.com/wp-content/uploads/2017/10/2017100413401966-e1512812018107.jpeg&amp;h=384.7&amp;w=480&amp;zc=1&amp;a=c&amp;q=100&amp;s=1"
                                 alt="文章样式6: 五星推荐超强科幻佳片《怀旧者》">
                            <div class="view-icon"><span><i class="icon icon-control-play"></i></span></div>
                        </a>
                    </div>
                    <div class="content">
                        <div class="meta hidden-xs">
                            <a href="http://cosy.iwpzt.com/category/duan-pian">短片</a>
                        </div>
                        <h2 class="title">
                            <a href="http://cosy.iwpzt.com/wu-xing-tui-jian-chao-qiang-ke-huan-jia-pian-huai-jiu-zhe.html">文章样式6:
                                五星推荐超强科幻佳片《怀旧者》</a>
                        </h2>
                        <div class="foot clearfix">
                            <span class="u-time">2017-10-04</span>
                            <span class="u-view"><i class="icon icon-eye"></i>1,965</span>
                            <span class="u-comment"><i class="icon icon-bubble"></i>1</span>
                            <span class="u-like"><i class="icon icon-heart"></i>16</span>
                        </div>
                    </div>
                </article>
            </div>
            <div class="col-grid col-xs-12 col-sm-4 col-md-4">
                <article class="layout-card post post-grid">
                    <div class="image">
                        <a href="http://cosy.iwpzt.com/wu-xing-tui-jian-chao-qiang-ke-huan-jia-pian-huai-jiu-zhe.html">
                            <img src="http://cosy.iwpzt.com/wp-content/themes/2018010916203677/timthumb.php?src=http://cosy.iwpzt.com/wp-content/uploads/2017/10/2017100413401966-e1512812018107.jpeg&amp;h=384.7&amp;w=480&amp;zc=1&amp;a=c&amp;q=100&amp;s=1"
                                 class="timthumb_php lazyloaded"
                                 data-src="http://cosy.iwpzt.com/wp-content/themes/2018010916203677/timthumb.php?src=http://cosy.iwpzt.com/wp-content/uploads/2017/10/2017100413401966-e1512812018107.jpeg&amp;h=384.7&amp;w=480&amp;zc=1&amp;a=c&amp;q=100&amp;s=1"
                                 alt="文章样式6: 五星推荐超强科幻佳片《怀旧者》">
                            <div class="view-icon"><span><i class="icon icon-control-play"></i></span></div>
                        </a>
                    </div>
                    <div class="content">
                        <div class="meta hidden-xs">
                            <a href="http://cosy.iwpzt.com/category/duan-pian">短片</a>
                        </div>
                        <h2 class="title">
                            <a href="http://cosy.iwpzt.com/wu-xing-tui-jian-chao-qiang-ke-huan-jia-pian-huai-jiu-zhe.html">文章样式6:
                                五星推荐超强科幻佳片《怀旧者》</a>
                        </h2>
                        <div class="foot clearfix">
                            <span class="u-time">2017-10-04</span>
                            <span class="u-view"><i class="icon icon-eye"></i>1,965</span>
                            <span class="u-comment"><i class="icon icon-bubble"></i>1</span>
                            <span class="u-like"><i class="icon icon-heart"></i>16</span>
                        </div>
                    </div>
                </article>
            </div>
            <div class="col-grid col-xs-12 col-sm-4 col-md-4">
                <article class="layout-card post post-grid">
                    <div class="image">
                        <a href="http://cosy.iwpzt.com/wu-xing-tui-jian-chao-qiang-ke-huan-jia-pian-huai-jiu-zhe.html">
                            <img src="http://cosy.iwpzt.com/wp-content/themes/2018010916203677/timthumb.php?src=http://cosy.iwpzt.com/wp-content/uploads/2017/10/2017100413401966-e1512812018107.jpeg&amp;h=384.7&amp;w=480&amp;zc=1&amp;a=c&amp;q=100&amp;s=1"
                                 class="timthumb_php lazyloaded"
                                 data-src="http://cosy.iwpzt.com/wp-content/themes/2018010916203677/timthumb.php?src=http://cosy.iwpzt.com/wp-content/uploads/2017/10/2017100413401966-e1512812018107.jpeg&amp;h=384.7&amp;w=480&amp;zc=1&amp;a=c&amp;q=100&amp;s=1"
                                 alt="文章样式6: 五星推荐超强科幻佳片《怀旧者》">
                            <div class="view-icon"><span><i class="icon icon-control-play"></i></span></div>
                        </a>
                    </div>
                    <div class="content">
                        <div class="meta hidden-xs">
                            <a href="http://cosy.iwpzt.com/category/duan-pian">短片</a>
                        </div>
                        <h2 class="title">
                            <a href="http://cosy.iwpzt.com/wu-xing-tui-jian-chao-qiang-ke-huan-jia-pian-huai-jiu-zhe.html">文章样式6:
                                五星推荐超强科幻佳片《怀旧者》</a>
                        </h2>
                        <div class="foot clearfix">
                            <span class="u-time">2017-10-04</span>
                            <span class="u-view"><i class="icon icon-eye"></i>1,965</span>
                            <span class="u-comment"><i class="icon icon-bubble"></i>1</span>
                            <span class="u-like"><i class="icon icon-heart"></i>16</span>
                        </div>
                    </div>
                </article>
            </div>
            <div class="col-grid col-xs-12 col-sm-4 col-md-4">
                <article class="layout-card post post-grid">
                    <div class="image">
                        <a href="http://cosy.iwpzt.com/wu-xing-tui-jian-chao-qiang-ke-huan-jia-pian-huai-jiu-zhe.html">
                            <img src="http://cosy.iwpzt.com/wp-content/themes/2018010916203677/timthumb.php?src=http://cosy.iwpzt.com/wp-content/uploads/2017/10/2017100413401966-e1512812018107.jpeg&amp;h=384.7&amp;w=480&amp;zc=1&amp;a=c&amp;q=100&amp;s=1"
                                 class="timthumb_php lazyloaded"
                                 data-src="http://cosy.iwpzt.com/wp-content/themes/2018010916203677/timthumb.php?src=http://cosy.iwpzt.com/wp-content/uploads/2017/10/2017100413401966-e1512812018107.jpeg&amp;h=384.7&amp;w=480&amp;zc=1&amp;a=c&amp;q=100&amp;s=1"
                                 alt="文章样式6: 五星推荐超强科幻佳片《怀旧者》">
                            <div class="view-icon"><span><i class="icon icon-control-play"></i></span></div>
                        </a>
                    </div>
                    <div class="content">
                        <div class="meta hidden-xs">
                            <a href="http://cosy.iwpzt.com/category/duan-pian">短片</a>
                        </div>
                        <h2 class="title">
                            <a href="http://cosy.iwpzt.com/wu-xing-tui-jian-chao-qiang-ke-huan-jia-pian-huai-jiu-zhe.html">文章样式6:
                                五星推荐超强科幻佳片《怀旧者》</a>
                        </h2>
                        <div class="foot clearfix">
                            <span class="u-time">2017-10-04</span>
                            <span class="u-view"><i class="icon icon-eye"></i>1,965</span>
                            <span class="u-comment"><i class="icon icon-bubble"></i>1</span>
                            <span class="u-like"><i class="icon icon-heart"></i>16</span>
                        </div>
                    </div>
                </article>
            </div>
            <div class="col-grid col-xs-12 col-sm-4 col-md-4">
                <article class="layout-card post post-grid">
                    <div class="image">
                        <a href="http://cosy.iwpzt.com/wu-xing-tui-jian-chao-qiang-ke-huan-jia-pian-huai-jiu-zhe.html">
                            <img src="http://cosy.iwpzt.com/wp-content/themes/2018010916203677/timthumb.php?src=http://cosy.iwpzt.com/wp-content/uploads/2017/10/2017100413401966-e1512812018107.jpeg&amp;h=384.7&amp;w=480&amp;zc=1&amp;a=c&amp;q=100&amp;s=1"
                                 class="timthumb_php lazyloaded"
                                 data-src="http://cosy.iwpzt.com/wp-content/themes/2018010916203677/timthumb.php?src=http://cosy.iwpzt.com/wp-content/uploads/2017/10/2017100413401966-e1512812018107.jpeg&amp;h=384.7&amp;w=480&amp;zc=1&amp;a=c&amp;q=100&amp;s=1"
                                 alt="文章样式6: 五星推荐超强科幻佳片《怀旧者》">
                            <div class="view-icon"><span><i class="icon icon-control-play"></i></span></div>
                        </a>
                    </div>
                    <div class="content">
                        <div class="meta hidden-xs">
                            <a href="http://cosy.iwpzt.com/category/duan-pian">短片</a>
                        </div>
                        <h2 class="title">
                            <a href="http://cosy.iwpzt.com/wu-xing-tui-jian-chao-qiang-ke-huan-jia-pian-huai-jiu-zhe.html">文章样式6:
                                五星推荐超强科幻佳片《怀旧者》</a>
                        </h2>
                        <div class="foot clearfix">
                            <span class="u-time">2017-10-04</span>
                            <span class="u-view"><i class="icon icon-eye"></i>1,965</span>
                            <span class="u-comment"><i class="icon icon-bubble"></i>1</span>
                            <span class="u-like"><i class="icon icon-heart"></i>16</span>
                        </div>
                    </div>
                </article>
            </div>
            <div class="col-grid col-xs-12 col-sm-4 col-md-4">
                <article class="layout-card post post-grid">
                    <div class="image">
                        <a href="http://cosy.iwpzt.com/wu-xing-tui-jian-chao-qiang-ke-huan-jia-pian-huai-jiu-zhe.html">
                            <img src="http://cosy.iwpzt.com/wp-content/themes/2018010916203677/timthumb.php?src=http://cosy.iwpzt.com/wp-content/uploads/2017/10/2017100413401966-e1512812018107.jpeg&amp;h=384.7&amp;w=480&amp;zc=1&amp;a=c&amp;q=100&amp;s=1"
                                 class="timthumb_php lazyloaded"
                                 data-src="http://cosy.iwpzt.com/wp-content/themes/2018010916203677/timthumb.php?src=http://cosy.iwpzt.com/wp-content/uploads/2017/10/2017100413401966-e1512812018107.jpeg&amp;h=384.7&amp;w=480&amp;zc=1&amp;a=c&amp;q=100&amp;s=1"
                                 alt="文章样式6: 五星推荐超强科幻佳片《怀旧者》">
                            <div class="view-icon"><span><i class="icon icon-control-play"></i></span></div>
                        </a>
                    </div>
                    <div class="content">
                        <div class="meta hidden-xs">
                            <a href="http://cosy.iwpzt.com/category/duan-pian">短片</a>
                        </div>
                        <h2 class="title">
                            <a href="http://cosy.iwpzt.com/wu-xing-tui-jian-chao-qiang-ke-huan-jia-pian-huai-jiu-zhe.html">文章样式6:
                                五星推荐超强科幻佳片《怀旧者》</a>
                        </h2>
                        <div class="foot clearfix">
                            <span class="u-time">2017-10-04</span>
                            <span class="u-view"><i class="icon icon-eye"></i>1,965</span>
                            <span class="u-comment"><i class="icon icon-bubble"></i>1</span>
                            <span class="u-like"><i class="icon icon-heart"></i>16</span>
                        </div>
                    </div>
                </article>
            </div>
            <div class="col-grid col-xs-12 col-sm-4 col-md-4">
                <article class="layout-card post post-grid">
                    <div class="image">
                        <a href="http://cosy.iwpzt.com/wu-xing-tui-jian-chao-qiang-ke-huan-jia-pian-huai-jiu-zhe.html">
                            <img src="http://cosy.iwpzt.com/wp-content/themes/2018010916203677/timthumb.php?src=http://cosy.iwpzt.com/wp-content/uploads/2017/10/2017100413401966-e1512812018107.jpeg&amp;h=384.7&amp;w=480&amp;zc=1&amp;a=c&amp;q=100&amp;s=1"
                                 class="timthumb_php lazyloaded"
                                 data-src="http://cosy.iwpzt.com/wp-content/themes/2018010916203677/timthumb.php?src=http://cosy.iwpzt.com/wp-content/uploads/2017/10/2017100413401966-e1512812018107.jpeg&amp;h=384.7&amp;w=480&amp;zc=1&amp;a=c&amp;q=100&amp;s=1"
                                 alt="文章样式6: 五星推荐超强科幻佳片《怀旧者》">
                            <div class="view-icon"><span><i class="icon icon-control-play"></i></span></div>
                        </a>
                    </div>
                    <div class="content">
                        <div class="meta hidden-xs">
                            <a href="http://cosy.iwpzt.com/category/duan-pian">短片</a>
                        </div>
                        <h2 class="title">
                            <a href="http://cosy.iwpzt.com/wu-xing-tui-jian-chao-qiang-ke-huan-jia-pian-huai-jiu-zhe.html">文章样式6:
                                五星推荐超强科幻佳片《怀旧者》</a>
                        </h2>
                        <div class="foot clearfix">
                            <span class="u-time">2017-10-04</span>
                            <span class="u-view"><i class="icon icon-eye"></i>1,965</span>
                            <span class="u-comment"><i class="icon icon-bubble"></i>1</span>
                            <span class="u-like"><i class="icon icon-heart"></i>16</span>
                        </div>
                    </div>
                </article>
            </div>
            <div class="col-grid col-xs-12 col-sm-4 col-md-4">
                <article class="layout-card post post-grid">
                    <div class="image">
                        <a href="http://cosy.iwpzt.com/wu-xing-tui-jian-chao-qiang-ke-huan-jia-pian-huai-jiu-zhe.html">
                            <img src="http://cosy.iwpzt.com/wp-content/themes/2018010916203677/timthumb.php?src=http://cosy.iwpzt.com/wp-content/uploads/2017/10/2017100413401966-e1512812018107.jpeg&amp;h=384.7&amp;w=480&amp;zc=1&amp;a=c&amp;q=100&amp;s=1"
                                 class="timthumb_php lazyloaded"
                                 data-src="http://cosy.iwpzt.com/wp-content/themes/2018010916203677/timthumb.php?src=http://cosy.iwpzt.com/wp-content/uploads/2017/10/2017100413401966-e1512812018107.jpeg&amp;h=384.7&amp;w=480&amp;zc=1&amp;a=c&amp;q=100&amp;s=1"
                                 alt="文章样式6: 五星推荐超强科幻佳片《怀旧者》">
                            <div class="view-icon"><span><i class="icon icon-control-play"></i></span></div>
                        </a>
                    </div>
                    <div class="content">
                        <div class="meta hidden-xs">
                            <a href="http://cosy.iwpzt.com/category/duan-pian">短片</a>
                        </div>
                        <h2 class="title">
                            <a href="http://cosy.iwpzt.com/wu-xing-tui-jian-chao-qiang-ke-huan-jia-pian-huai-jiu-zhe.html">文章样式6:
                                五星推荐超强科幻佳片《怀旧者》</a>
                        </h2>
                        <div class="foot clearfix">
                            <span class="u-time">2017-10-04</span>
                            <span class="u-view"><i class="icon icon-eye"></i>1,965</span>
                            <span class="u-comment"><i class="icon icon-bubble"></i>1</span>
                            <span class="u-like"><i class="icon icon-heart"></i>16</span>
                        </div>
                    </div>
                </article>
            </div>
            <div class="col-grid col-xs-12 col-sm-4 col-md-4">
                <article class="layout-card post post-grid">
                    <div class="image">
                        <a href="http://cosy.iwpzt.com/wu-xing-tui-jian-chao-qiang-ke-huan-jia-pian-huai-jiu-zhe.html">
                            <img src="http://cosy.iwpzt.com/wp-content/themes/2018010916203677/timthumb.php?src=http://cosy.iwpzt.com/wp-content/uploads/2017/10/2017100413401966-e1512812018107.jpeg&amp;h=384.7&amp;w=480&amp;zc=1&amp;a=c&amp;q=100&amp;s=1"
                                 class="timthumb_php lazyloaded"
                                 data-src="http://cosy.iwpzt.com/wp-content/themes/2018010916203677/timthumb.php?src=http://cosy.iwpzt.com/wp-content/uploads/2017/10/2017100413401966-e1512812018107.jpeg&amp;h=384.7&amp;w=480&amp;zc=1&amp;a=c&amp;q=100&amp;s=1"
                                 alt="文章样式6: 五星推荐超强科幻佳片《怀旧者》">
                            <div class="view-icon"><span><i class="icon icon-control-play"></i></span></div>
                        </a>
                    </div>
                    <div class="content">
                        <div class="meta hidden-xs">
                            <a href="http://cosy.iwpzt.com/category/duan-pian">短片</a>
                        </div>
                        <h2 class="title">
                            <a href="http://cosy.iwpzt.com/wu-xing-tui-jian-chao-qiang-ke-huan-jia-pian-huai-jiu-zhe.html">文章样式6:
                                五星推荐超强科幻佳片《怀旧者》</a>
                        </h2>
                        <div class="foot clearfix">
                            <span class="u-time">2017-10-04</span>
                            <span class="u-view"><i class="icon icon-eye"></i>1,965</span>
                            <span class="u-comment"><i class="icon icon-bubble"></i>1</span>
                            <span class="u-like"><i class="icon icon-heart"></i>16</span>
                        </div>
                    </div>
                </article>
            </div>
        </div>
    </div>


    <div class="nav-links">
        <span aria-current="page" class="page-numbers current">1</span>
        <a class="page-numbers" href="http://cosy.codenote.io/page/2">2</a>
        <span class="page-numbers dots">…</span>
        <a class="page-numbers" href="http://cosy.codenote.io/page/15">15</a>
        <a class="next page-numbers" href="http://cosy.codenote.io/page/2">
            <i class="fa fa fa-angle-right"></i>
        </a>
    </div>
</section>
<!--home-lay layout-content end-->

<!--footer_view.ejs start-->
<% include parts/footer_view.ejs %>
<!--footer_view.ejs end-->


<script>

  var navbar = document.getElementById('layout-navbar')

  function getScrollTop () {
    var scrollTop = 0;
    if (document.documentElement && document.documentElement.scrollTop) {
      scrollTop = document.documentElement.scrollTop;
    }
    else if (document.body) {
      scrollTop = document.body.scrollTop;
    }
    return scrollTop;
  }

  window.onscroll = function () {
    var st = getScrollTop()
    if (st > 50) {
      navbar.classList.add("navbar-fixed-top");
    } else {
      navbar.classList.remove("navbar-fixed-top");
    }
  }

</script>

</body>

<% include parts/footer.ejs %>