#admin-header {
  font-family: "Montserrat", sans-serif;
  .admin-header-view {
    position: fixed;
    top: 0;
    right: 0;
    z-index: 11;
    width: 100%;
    padding: 0;
    margin-bottom: 20px;
    box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.15);
    height: 60px;
    background: #8c99e0;
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
    z-index: 10;
    width: 100%;
    padding: 0 5px;
    .navbar-header {
      .navbar-brand {
        display: block;
        float: left;
        padding-top: 15px;
        margin-left: 15px;
        >img {
          width: 30px;
          display: inline-block;
          vertical-align: middle;
        }
        >span {
          display: inline-block;
          vertical-align: middle;
          color: #ffffff;
          margin-left: 15px;
          font-size: 16px;
        }
      }
      .navbar-list {
        display: block;
        float: left;
        margin-left: 15px;
        .navbar-list-item {
          display: inline-block;
          a {
            display: block;
            padding: 0 15px;
            line-height: 60px;
            font-size: 18px;
            text-rendering: auto;
            -webkit-font-smoothing: antialiased;
            i {
              color: #fff;
            }
          }
        }
      }
      .input-group {
        display: block;
        float: left;
        margin-left: 10px;
        padding-top: 9px;
        .form-control {
          background-color: transparent;
          border: 1px solid #E3E3E3;
          border-radius: 30px;
          line-height: normal;
          padding: 10px 18px 10px 18px;
          font-size: 14px;
          color: #fff;
          border-right: 0 none;
          border-bottom-right-radius: 0;
          border-top-right-radius: 0;
        }
        .input-group-addon {
          border: 1px solid #E3E3E3;
          border-radius: 30px;
          padding: 12px 18px 11px 0;
          border-left: 0;
          border-bottom-left-radius: 0;
          border-top-left-radius: 0;
          i {
            width: 17px;
            font-size: 16px;
            text-rendering: auto;
            color: #fff;
            -webkit-font-smoothing: antialiased;
            -moz-osx-font-smoothing: grayscale;
          }
        }
      }
    }
    .navbar-icon {
      float: right;
      margin-right: 15px;
      .navbar-icon-item {
        display: inline-block;
        a {
          display: block;
          padding: 0 15px;
          line-height: 60px;
          font-size: 18px;
          text-rendering: auto;
          -webkit-font-smoothing: antialiased;
          i {
            color: #fff;
          }
        }
      }
    }
  }
  .menu-container {
    width: 100%;
    margin: 0 auto;
    background: #263238;
    position: fixed;
    top: 60px;
    z-index: 10;
    .menu {
      .pullDown {
        .menu-dropdown-icon {
          float: left;
          a {
            text-decoration: none;
            padding: 10px 15px;
            display: block;
            color: #bbb;
            font-size: 14px;
          }
        }
      }
    }
  }
}