<!--header.ejs start-->
<% include ../parts/header.ejs %>
<!--header.ejs end-->

<body class="black-theme">

<!--header_view.ejs start-->
<% include ../parts/header_view.ejs %>
<!--header_view.ejs end-->


<!--article-list-lay layout-content start-->
<section class="user-lay layout-content" id="user-center-message">
    <div class="container  box-container">
        <div class="row">

            <div class="col-xs-12 col-sm-8 col-md-8 main">

                <% include user_center_top.ejs %>

                <div class="user-center-message-view">
                    <div class="user-center-message-item" v-for="(item,key) in user_message_list" ref="user_message_list">
                        <h2 class="title">{{item.title}}</h2>
                        <div class="main clearfix">
                            <a class="user-info" href="">
                                <img class="avatar" :src="item.other_user.avatar" alt="">
                                <span class="nickname">{{item.other_user.nickname}}</span>
                            </a>
                            <p class="content">评论：{{item.content}}</p>
                            <span class="delete-message" @click="delete_user_message(item.id,key)">删除</span>
                        </div>
                    </div>
                    <a href="javascript:;" v-if="count>=10" v-show="load_user_message"
                       class="load-user-message" @click="load_user_message_event">查看更多</a>
                </div>

            </div>

            <div class="col-xs-12 col-sm-4 col-md-4 box-aside">
                <% include user_center_aside.ejs %>
            </div>

        </div>
    </div>
</section>
<!--article-list-lay layout-content end-->


<script>
  new Vue({
    el: '#user-center-message',
    data: function () {
      return {
        user_message_list: [],
        count: '',
        load_user_message: true,
        pageSize: 10,
        page: 1,
      }
    },
    created: function () {
      this.get_user_message_list()
    },
    methods: {
      load_user_message_event: function () {
        this.page += 1
        this.get_user_message_list()
      },
      get_user_message_list: function () {// 获取当前登录用户信息
        var that = this
        _server.get_user_message({page: that.page}).then(function (res) {
          that.$nextTick(function () {
            if (res.state === 'success') {
              that.user_message_list = that.user_message_list.concat(res.data.user_message_list)
              that.count = res.data.count
              if (res.data.user_message_list.length < that.pageSize) {
                that.load_user_message = false
              }
            }
          })
        })
      },
      delete_user_message: function (id,key) {
        var that = this
        _server.post_delete_user_message({user_message_id: id}).then(function (res) {
          if (res.state === 'success') {
            alert(res.message)
            console.log('that.$refs.user_message_list',that.$refs.user_message_list)
            that.$refs.user_message_list[key].style.display = "none"
          } else {
            alert(res.message)
          }
        }).catch(function (err) {
          console.log(err)
        })
      }
    }
  })
</script>

</body>

<% include ../parts/footer.ejs %>