<ul class="list user-dynamic">
    <li class="badge-icon">
        <a target="_blank" href="/mobile/club">
            <img width="20" heigth="20"
                 src="//upload.jianshu.io/user_badge/22d8d123-271c-4d80-9c59-6990844a9e37"
                 alt="22d8d123 271c 4d80 9c59 6990844a9e37"> 简书会员
        </a></li>
</ul>
<% if(user_info.uid === data.current_user.uid){ %>
<ul class="list user-dynamic">
    <li>
        <a href="/subscribe/tag?is_subscribe=2">
            <i class="iconfont ic-collection"></i> <span>我关注的文章标签</span>
        </a>
    </li>
</ul>
<% } %>
<div class="title">个人介绍</div>
<div class="description">
    <div class="js-intro">
        <% if(data.current_user.introduction){ %>
        <%= data.current_user.introduction %>
        <% }else{ %>
        暂无简介，请前往设置中修改
        <% } %>
    </div>
</div>