<ul class="list user-dynamic">
    <li class="badge-icon">
        <a target="_blank" href="/mobile/club">
            <img width="20" heigth="20"
                 src="//upload.jianshu.io/user_badge/22d8d123-271c-4d80-9c59-6990844a9e37"
                 alt="22d8d123 271c 4d80 9c59 6990844a9e37"> 简书会员
        </a></li>
</ul>
<% if(user_info.uid === data.current_user.uid){ %>
<ul class="list user-dynamic">
    <li>
        <a href="/users/78d3e1ab9924/subscriptions">
            <i class="iconfont ic-collection"></i> <span>我关注的专题/作者</span>
        </a></li>
    <li>
        <a href="/users/78d3e1ab9924/liked_notes">
            <i class="iconfont ic-like"></i> <span>我喜欢的文章</span>
        </a>
    </li>
</ul>
<% } %>
<div class="title">个人介绍</div>
<div class="description">
    <div class="js-intro">这里筑梦师,是一名正在努力学习的iOS开发工程师,目前致力于全栈方向的学习,希望可以和大家一起交流技术,共同进步.<br>
        <br>本人全栈自学笔记地址:<br><a
                href="https://github.com/DreamerWinston/Full-Stack-Developer-Note" rel="nofollow"
                target="_blank">https://github.com/DreamerWinston/Full-Stack-Developer-Note</a><br>
        <br>本人文章均为个人学习经历经验总结.如有引用会注明.<br>
        <br>交流技术,提建议,请积极私信我哦~<br>
        <br>本人公众号:FullStackTips<br>这里↓↓↓↓↓↓是我个人二维码,欢迎加我~
    </div>
</div>