.admin-side-menu {
  position: fixed;
  left: 0;
  top: 0;
  bottom: 0;
  z-index: 999;
  width: 260px;
  overflow-x: hidden;
  background: #34395B;
  box-shadow: 2px 0 6px rgba(0,21,41,.35);
  .admin-side-scroll {
    position: relative;
    width: 280px;
    height: 100%;
    overflow-x: hidden;
    .admin-logo {
      position: fixed;
      left: 0;
      top: 0;
      z-index: 1002;
      width: 260px;
      height: 100px;
      padding: 0 15px;
      box-sizing: border-box;
      overflow: hidden;
      font-weight: 300;
      text-align: center;
      background: #34395B;
      .admin-logo-text {
        display: block;
        padding-top: 30px;
        font-size: 35px;
        background: linear-gradient(to right, #DC5B3F, #F83F75);
        -webkit-background-clip: text;
        color: transparent;
      }
    }
    .admin-aside-nav {
      width: 260px;
      margin-top: 100px;
      padding: 0 35px;
      /* padding-left: 20px;
       padding-right: 20px;*/
      .ant-menu-inline, .ant-menu-vertical,
      .ant-menu-vertical-left {
        border-right: none;
      }
      .ant-menu {
        background: transparent;
      }
      .ant-menu-dark .ant-menu-inline.ant-menu-sub {
        box-shadow: none !important;
      }
      .ant-menu:not(.ant-menu-horizontal) .ant-menu-item-selected {
        background: #2A2C44;
       border-radius: 5px;
        a {
          color: #4062DE;
        }
      }
      .ant-menu-vertical .ant-menu-item:after, .ant-menu-vertical-left .ant-menu-item:after,
      .ant-menu-vertical-right .ant-menu-item:after, .ant-menu-inline .ant-menu-item:after {
        display: none;
      }
    }
  }
}
