.admin-aside {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  overflow: hidden;
  z-index: auto;
  -webkit-box-ordinal-group: 1;
  -ms-flex-order: 0;
  order: 0;
  margin-right: 30px;
  width: 230px;
  .box-card-header{
    border-bottom: none;
  }
  .admin-aside-content {
   /* position: fixed;*/
    background: #fff;
    width: 230px;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    //height: calc(100vh - 160px) !important;
  }
  .ant-menu {
    border-right: none;
  }
  .admin-aside-view {
    padding-bottom: 30px;
    .title-h2 {
      height: 50px;
      padding: 25px 15px 10px;
      color: #5C9ACF;
      font-size: 13px;
      font-weight: 600;
    }
  }
  .ant-menu-item {
    > span {
      font-size: 14px;
    }
    > a {
      font-size: 14px;
    }
  }
  .ant-menu-submenu-inline {
    .ant-menu-submenu-title {
      font-size: 14px;
    }
  }
}