.k-header {
  position: fixed;
  background: #fff;
  top: 0;
  padding-top: 15px;
  height: 70px;
  left: 0;
  box-shadow: 0 1px 4px rgba(0,21,41,.08);
  padding-left: 260px;
  width: 100%;
  z-index: 100;
  .pull-right {
    ul {
      li {
        display: block;
        float: left;
        margin: 0 25px;
        .avatar {
          display: block;
          img {
            width: 38px;
            height: 38px;
            border-radius: 80px;
            border: 2px solid #f2f2f2;
          }
        }
        .iconfont {
          font-size: 20px;
        }
      }
      .mess, .setting {
        padding-top: 5px;
      }
    }
  }
}
