<!--header.html start-->
<% include ../parts/header.html %>
<!--header.html end-->

<body class="black-theme">

  <!--header_view.html start-->
  <% include ../parts/header_view.html %>
  <!--header_view.html end-->


  <!--article-list-lay layout-content start-->
  <section class="user-setting-lay layout-content" id="user-setting-password">
    <div class="container box-container">
      <div class="row">

        <div class="col-xs-12 col-sm-4 col-md-4">
          <!--user_settings_aside.html start-->
          <% include user_settings_aside.html %>
          <!--user_settings_aside.html end-->
        </div>

        <div class="col-xs-12 col-sm-8 col-md-8">
          <div class="view setting-view">
            <div class="sub-view-box setting-password-view">
              <h1>修改密码</h1>
              <ul class="setting-list">
                <li class="item-view">
                  <span class="title">旧密码</span>
                  <div class="input-box password-input password-input">
                    <input type="password" v-model="form_data.old_password" placeholder="请输入原密码" class="input">
                    <a href="/reset_password" class="reset-password">忘记密码？</a>
                  </div>
                </li>
                <li class="item-view">
                  <span class="title">新密码</span>
                  <div class="input-box password-input password-input">
                    <input type="password" v-model="form_data.new_password" placeholder="请输入新密码" class="input">
                    <!---->
                  </div>
                </li>
                <li class="item-view">
                  <span class="title">确认新密码</span>
                  <div class="input-box password-input password-input">
                    <input type="password" v-model="form_data.repeat_new_password" placeholder="确认新密码" class="input">
                    <!---->
                  </div>
                </li>
              </ul>
              <div class="footer-view">
                <button class="button button-save" @click="save">保存</button>
              </div>

            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!--article-list-lay layout-content end-->

  <script>
    new Vue({
      el: '#user-setting-password',
      data: function () {
        return {
          form_data: {
            old_password: "",
            new_password: "",
            repeat_new_password: ""
          }
        }
      },
      created: function () {
      },
      methods: {
        save: function () {
          var that = this
          _server.post_update_user_password(that.form_data).then(function (res) {
            that.$nextTick(function () {
              if (res.state === 'success') {
                alert('密码修改成功')
                window.location.href = '/esc_sign_in'
              } else {
                alert(res.message)
              }
            })
          })
        }
      }
    })

  </script>
</body>

<% include ../parts/footer.html %>