<!--header.ejs start-->
<% include ../parts/header.ejs %>
<!--header.ejs end-->

<body class="black-theme">

<!--header_view.ejs start-->
<% include ../parts/header_view.ejs %>
<!--header_view.ejs end-->


<!--article-list-lay layout-content start-->
<section class="user-setting-lay layout-content">
    <div class="container box-container">
        <div class="row">

            <div class="col-xs-12 col-sm-4 col-md-4">
                <!--user_settings_aside.ejs start-->
                <% include user_settings_aside.ejs %>
                <!--user_settings_aside.ejs end-->
            </div>

            <div class="col-xs-12 col-sm-8 col-md-8">
                <div class="view setting-view">
                    <div class="sub-view-box setting-password-view">
                        <h1>修改密码</h1>
                        <ul class="setting-list">
                            <li class="item-view">
                                <span class="title">旧密码</span>
                                <div class="input-box password-input password-input">
                                    <input type="password" placeholder="请输入原密码" class="input">
                                    <div class="action-box">
                                        <a href="/reset-password" class="btn">忘记密码？</a>
                                    </div>
                                </div>
                            </li>
                            <li class="item-view">
                                <span class="title">新密码</span>
                                <div class="input-box password-input password-input">
                                    <input type="password" placeholder="请输入新密码" class="input"><!---->
                                </div>
                            </li>
                            <li class="item-view">
                                <span class="title">确认新密码</span>
                                <div class="input-box password-input password-input">
                                    <input type="password" placeholder="确认新密码" class="input"><!---->
                                </div>
                            </li>
                        </ul>
                        <div class="footer-view">
                            <button class="button button-save">保存</button>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!--article-list-lay layout-content end-->

<!--<script>

  var navbar = document.getElementById('layout-navbar')

  function getScrollTop () {
    var scrollTop = 0;
    if (document.documentElement && document.documentElement.scrollTop) {
      scrollTop = document.documentElement.scrollTop;
    }
    else if (document.body) {
      scrollTop = document.body.scrollTop;
    }
    return scrollTop;
  }

  window.onscroll = function () {
    var st = getScrollTop()
    if (st > 50) {
      navbar.classList.add("navbar-fixed-top");
    } else {
      navbar.classList.remove("navbar-fixed-top");
    }
  }

</script>-->
</body>

<% include ../parts/footer.ejs %>