<!--footer start-->
<footer class="footer">
    <div class="container">
        <div class="footer-top">
            <div class="row">
                <div class="col-md-5 col-sm-12 col-xs-12">
                    <aside class="footer-widget footer-widget-text">
                        <h3 class="widget-title">我们</h3>
                        <div class="text-widget">
                            <p>
                                团队从事WordPress主题及网站开发5年，专注开发好用又颜值高的WordPress主题，
                                在WordPress国内有着不错的口碑。团队专注网站前端设计、网站开发、小程序开发。
                            </p>
                        </div>
                    </aside>
                    <aside class="footer-widget footer-widget-social">
                        <ul>
                            <li>
                                <a href="javascript:void(0);" class="link btn-social-weixin">
                                    <i class="fa fa-weixin"></i>
                                </a>
                            </li>
                            <li><a href="http://www.suxing.me/go/qq" class="link" title="qq" target="_blank">
                                    <i class="fa fa-qq"></i>
                                </a></li>
                            <li><a href="https://www.nicetheme.cn" class="link" title="微博" target="_blank">
                                    <i class="fa fa-weibo"></i>
                                </a></li>
                            <li><a href="http://mail.qq.com/cgi-bin/qm_share?t=qm_mailme&amp;email=suxingme@qq.com"
                                   class="link" title="邮箱" target="_blank">
                                    <i class="fa fa-envelope"></i>
                                </a></li>
                        </ul>
                    </aside>
                </div>
                <div class="col-md-3 col-sm-6 col-xs-12 col-md-offset-1">
                    <aside class="footer-widget footer-widget-categories">
                        <h3 class="widget-title">菜单</h3>
                        <ul>
                            <li class="menu-item">
                                <a href="">一图</a></li>
                            <li
                                    class="menu-item">
                                <a href="">商业</a></li>
                            <li
                                    class="menu-item">
                                <a href="">时尚</a></li>
                        </ul>
                    </aside>
                </div>
                <div class="col-md-3 col-sm-6 col-xs-12">
                    <aside class="footer-widget footer-widget-links">
                        <h3 class="widget-title">友情链接</h3>
                        <ul>
                            <ul>
                                <li class="menu-item">
                                    <a href="">一图</a></li>
                                <li class="menu-item">
                                    <a href="">商业</a></li>
                                <li class="menu-item ">
                                    <a href="">时尚</a></li>
                            </ul>
                        </ul>
                    </aside>
                </div>
            </div>
        </div>
        <div class="footer-bottom">
            <div class="row">
                <!-- Bottom Footer -->
                <div class="col-md-12 col-sm-12 col-xs-12 footer-copyright">
                    <p>
                    </p>
                    <p>Copyright © 2018 <a href="http://cosy.codenote.io" title="Cosy主题演示站" rel="home">Cosy主题演示站</a>.
                        Design by <a href="https://www.nicetheme.cn" title="最有范的WordPress主题开发团队" target="_blank">Nicetheme</a>.
                    </p>
                    <p></p>
                </div><!-- Bottom Footer /- -->
            </div>
        </div>
    </div>
</footer>
<!--footer end-->