<!--header start-->
<nav class="header navbar" id="layout-navbar">
    <div class="container">
        <div class="navbar-header">
            <a class="navbar-brand" href="http://cosy.iwpzt.com" title="Cosy主题演示站"
               style="background-image: url('/default/img/logo.svg');">Cosy主题演示站</a>
            <a class="navbar-brand mobile-navbar-brand hidden-md hidden-lg" href="http://cosy.iwpzt.com"
               title="Cosy主题演示站"
               style="background-image: url('http://cosy.iwpzt.com/wp-content/themes/2018010916203677/static/images/logo-mobile.png');">Cosy主题演示站</a>
        </div>

        <div class="navbar-right">
            <button class="btn-search"><i class="iconfont icon-search"></i></button>
        </div>

        <div class="navbar-collapse hidden-xs hidden-sm">
            <ul class="navbar-nav">
                <li><a href="/">首页</a></li>
                <li><a href="/article">专题</a></li>
                <li><a href="">实验室</a></li>
                <li><a href="">文章列表</a></li>
                <li><a href="">一图</a></li>
                <li><a href="">短片</a></li>
                <li><a href="">关于</a></li>
                <li><a href="">留言板</a></li>
            </ul>
        </div>
    </div>
</nav>
<!--header end-->