.admin-role {
  .admin-role-create-btn {
    margin-bottom: 15px;
  }
  .operation-btn {
    button {
      margin-left: 5px;
    }
  }
}

.admin-role-foot {
  margin-top: 20px;
  button {
    margin-right: 15px;
  }
}
