* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

*:before,
*:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

html,
body,
h1,
h2,
h3,
h4,
h5,
h6,
div,
dl,
dt,
dd,
ul,
ol,
li,
p,
blockquote,
pre,
hr,
figure,
table,
caption,
th,
td,
form,
fieldset,
legend,
input,
button,
textarea,
menu {
  margin: 0;
  padding: 0;
}

header,
footer,
section,
article,
aside,
nav,
hgroup,
address,
figure,
figcaption,
menu,
details {
  display: block;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

caption,
th {
  text-align: left;
  font-weight: normal;
}

html,
body,
fieldset,
img,
iframe,
abbr {
  border: 0;
}

i,
cite,
em,
var,
address,
dfn {
  font-style: normal;
}

[hidefocus],
summary {
  outline: 0;
}

li {
  list-style: none;
}

sup,
sub {
  font-size: 83%;
}

pre,
code,
kbd,
samp {
  font-family: inherit;
}

q:before,
q:after {
  content: none;
}

textarea {
  overflow: auto;
  resize: none;
}

label,
summary {
  cursor: default;
}

a,
button {
  cursor: pointer;
}

h1,
h2,
h3,
h4,
h5,
h6,
em,
strong,
b {
  font-weight: bold;
}

html {
  height: 100%;
  overflow: inherit;
}

del,
ins,
u,
s,
a,
a:hover {
  text-decoration: none;
}

body,
textarea,
input,
button,
select,
keygen,
legend {
  outline: 0;
}

body {
  -webkit-tap-highlight-color: transparent;
}

body {
  color: #333;
  font-size: 16px;
  height: 100%;
  background-color: #f4f6f9 !important;
  font-family: Montserrat, "Helvetica Neue", Arial, sans-serif !important;
}

@font-face {
  font-family: Montserrat;
  src: url('./assets/font/Montserrat-Regular.ttf');
  /* IE9+,可以是具体的实际链接 */
}

a {
  text-decoration: none;
  outline: 0;
}

a:focus {
  outline: none;
  -moz-outline: none;
  text-decoration: none;
}

::-webkit-scrollbar {
  width: 12px;
  height: 12px;
  background-color: #e0e0e0;
}

::-webkit-scrollbar-track {
  border-radius: 2px;
  background-color: #e0e0e0;
}

::-webkit-scrollbar-thumb {
  border-radius: 2px;
  background-color: #00bcd4;
}

.web-view {
  padding-top: 130px;
  overflow: hidden;
  padding-bottom: 50px;
}

/*btn start*/

#app {
  width: 100%;
  height: 100%;
  .app-view {
    width: 100%;
    height: 100%;
  }
}

.clearfix:after {
  content: '.';
  display: block;
  clear: both;
  height: 0;
  visibility: hidden;
}

.admin-main-content {
  margin-top: 101px;
  -moz-transition: .5s;
  -o-transition: .5s;
  -webkit-transition: .5s;
  transition: .5s;
  z-index: 9;
  position: relative;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  border-radius: 3px;
  padding-left: 25px;
  padding-right: 25px;
  &:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 150px;
    background-color: #8c99e0;
  }
  .block-header {
    padding: 15px;
    h2 {
      margin: 0 !important;
      font-size: 20px;
      color: #ffffff;
      small {
        display: block;
        margin-top: 8px;
        color: #616161;
        font-size: 13px;
        color: #ffffff;
      }
    }
  }
}

.admin-main-content-view {
  .admin-content-wrapper {
  }
}

.box-card {
  background: #fff;
  margin-bottom: 30px;
  transition: .5s;
  border: 0;
  border-radius: .1875rem;
  display: inline-block;
  position: relative;
  width: 100%;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  box-shadow: none;
  .box-card-header {
    color: #424242;
    padding: 20px;
    position: relative;
    box-shadow: none;
    h2 {
      font-size: 15px;
      color: #757575;
      position: relative;
      &::before {
        position: absolute;
        width: 2px;
        height: 18px;
        left: -20px;
        top: 0;
        background: #6572b8;
        content: '';
      }
      strong {
        color: #6572b8;
      }
    }
    .header-dropdown {
      position: absolute;
      top: 20px;
      right: 15px;
      list-style: none;
      li {
        display: inline-block;
        a {
          padding: 5px 10px;
          i {
            font-size: 18px;
            color: #9e9e9e;
            -moz-transition: all 0.5s;
            -o-transition: all 0.5s;
            -webkit-transition: all 0.5s;
            transition: all 0.5s;
          }
        }
      }
    }
  }
  .box-card-body {
    font-size: 14px;
    color: #424242;
    padding: 20px;
    font-weight: 400;
  }
}

.form-group {
  margin-bottom: 15px;
  label {
    display: inline-block;
  }
  .input-view {
    border: 1px solid #d9d9d9;
    padding: 4px 11px;
    border-radius: 3px;
    width: 100%;
    height: 32px;
    line-height: 1.5;
    display: inline-block;
  }
}


.mr-bm-10{
  margin-bottom: 10px;
}